#### Purpose: Find data that will support the claim, or help  substantiate correalations  between World Events and Carbon Events

#### Focus Areas: 
* Great Recession: 2007-2012
* Pandemic: COVID-19/Cornoavirus: explore years between 2010-2019, Records show the years between 2010-2019 
* Additional Notes: marked a decline in CO2 Emissions, primarily after the Paris Agreement


###### DataSource: Our World In Data, (ourworldindata.org)

GitHub:https://github.com/owid/co2-data

    *Guidebook: https://github.com/owid/co2-data/blob/master/owid-co2-codebook.csv

In [1]:
# Import dependencies
import pandas as  pd
import os

#### Time to explore...

In [2]:
# Load OurWorld in Data --dataset
source='https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv'
ow_data_df = pd.read_csv(source)
ow_data_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [3]:
# check for shape of dataframe, original dataset
ow_data_df.shape

(23708, 55)

In [4]:
#check for data 2020-2021
ow_data_df.loc[(ow_data_df['year']== 2020 & 2021)]

Empty DataFrame
Columns: [iso_code, country, year, co2, co2_growth_prct, co2_growth_abs, consumption_co2, trade_co2, trade_co2_share, co2_per_capita, consumption_co2_per_capita, share_global_co2, cumulative_co2, share_global_cumulative_co2, co2_per_gdp, consumption_co2_per_gdp, co2_per_unit_energy, cement_co2, coal_co2, flaring_co2, gas_co2, oil_co2, other_industry_co2, cement_co2_per_capita, coal_co2_per_capita, flaring_co2_per_capita, gas_co2_per_capita, oil_co2_per_capita, other_co2_per_capita, share_global_coal_co2, share_global_oil_co2, share_global_gas_co2, share_global_flaring_co2, share_global_cement_co2, cumulative_coal_co2, cumulative_oil_co2, cumulative_gas_co2, cumulative_flaring_co2, cumulative_cement_co2, share_global_cumulative_coal_co2, share_global_cumulative_oil_co2, share_global_cumulative_gas_co2, share_global_cumulative_flaring_co2, share_global_cumulative_cement_co2, total_ghg, ghg_per_capita, methane, methane_per_capita, nitrous_oxide, nitrous_oxide_per_capita, primary_energy_consumption, energy_per_capita, energy_per_gdp, population, gdp]
Index: []

[0 rows x 55 columns]

In [5]:
#check columns
ow_data_df.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_growth_prct',
       'co2_growth_abs', 'consumption_co2', 'trade_co2', 'trade_co2_share',
       'co2_per_capita', 'consumption_co2_per_capita', 'share_global_co2',
       'cumulative_co2', 'share_global_cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'co2_per_unit_energy', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'total_ghg', 'ghg_per_capita',
       'methane', 'methane_per_capita', 'nitrous_oxide',
       'nitrous_oxide_per_capita', 'primary_energy_consumption',
       'energy_per_capita', 'energy_per_gdp', 'population', 'gdp'],
      dtype='object')

In [6]:
# Check data types
# List dataframe data types
ow_data_df.dtypes

iso_code                                object
country                                 object
year                                     int64
co2                                    float64
co2_growth_prct                        float64
co2_growth_abs                         float64
consumption_co2                        float64
trade_co2                              float64
trade_co2_share                        float64
co2_per_capita                         float64
consumption_co2_per_capita             float64
share_global_co2                       float64
cumulative_co2                         float64
share_global_cumulative_co2            float64
co2_per_gdp                            float64
consumption_co2_per_gdp                float64
co2_per_unit_energy                    float64
cement_co2                             float64
coal_co2                               float64
flaring_co2                            float64
gas_co2                                float64
oil_co2                                float64
other_industry_co2                     float64
cement_co2_per_capita                  float64
coal_co2_per_capita                    float64
flaring_co2_per_capita                 float64
gas_co2_per_capita                     float64
oil_co2_per_capita                     float64
other_co2_per_capita                   float64
share_global_coal_co2                  float64
share_global_oil_co2                   float64
share_global_gas_co2                   float64
share_global_flaring_co2               float64
share_global_cement_co2                float64
cumulative_coal_co2                    float64
cumulative_oil_co2                     float64
cumulative_gas_co2                     float64
cumulative_flaring_co2                 float64
cumulative_cement_co2                  float64
share_global_cumulative_coal_co2       float64
share_global_cumulative_oil_co2        float64
share_global_cumulative_gas_co2        float64
share_global_cumulative_flaring_co2    float64
share_global_cumulative_cement_co2     float64
total_ghg                              float64
ghg_per_capita                         float64
methane                                float64
methane_per_capita                     float64
nitrous_oxide                          float64
nitrous_oxide_per_capita               float64
primary_energy_consumption             float64
energy_per_capita                      float64
energy_per_gdp                         float64
population                             float64
gdp                                    float64
dtype: object

In [7]:
# check for missing data?
# Find null values , isnull() method
for c in ow_data_df.columns:
    print(f"Column {c} has {ow_data_df[c].isnull().sum()} null values")

Column iso_code has 2778 null values
Column country has 0 null values
Column year has 0 null values
Column co2 has 538 null values
Column co2_growth_prct has 1798 null values
Column co2_growth_abs has 1691 null values
Column consumption_co2 has 20358 null values
Column trade_co2 has 20390 null values
Column trade_co2_share has 20390 null values
Column co2_per_capita has 1325 null values
Column consumption_co2_per_capita has 20358 null values
Column share_global_co2 has 605 null values
Column cumulative_co2 has 130 null values
Column share_global_cumulative_co2 has 130 null values
Column co2_per_gdp has 8790 null values
Column consumption_co2_per_gdp has 20620 null values
Column co2_per_unit_energy has 16965 null values
Column cement_co2 has 11526 null values
Column coal_co2 has 6717 null values
Column flaring_co2 has 19406 null values
Column gas_co2 has 15015 null values
Column oil_co2 has 3997 null values
Column other_industry_co2 has 22145 null values
Column cement_co2_per_capita has 11555 null values
Column coal_co2_per_capita has 7237 null values
Column flaring_co2_per_capita has 19407 null values
Column gas_co2_per_capita has 15043 null values
Column oil_co2_per_capita has 4315 null values
Column other_co2_per_capita has 22145 null values
Column share_global_coal_co2 has 6717 null values
Column share_global_oil_co2 has 3997 null values
Column share_global_gas_co2 has 15015 null values
Column share_global_flaring_co2 has 19406 null values
Column share_global_cement_co2 has 11526 null values
Column cumulative_coal_co2 has 5156 null values
Column cumulative_oil_co2 has 3745 null values
Column cumulative_gas_co2 has 14521 null values
Column cumulative_flaring_co2 has 18775 null values
Column cumulative_cement_co2 has 11145 null values
Column share_global_cumulative_coal_co2 has 5156 null values
Column share_global_cumulative_oil_co2 has 3745 null values
Column share_global_cumulative_gas_co2 has 14521 null values
Column share_global_cumulative_flaring_co2 has 18775 null values
Column share_global_cumulative_cement_co2 has 11145 null values
Column total_ghg has 18500 null values
Column ghg_per_capita has 18553 null values
Column methane has 18497 null values
Column methane_per_capita has 18551 null values
Column nitrous_oxide has 18497 null values
Column nitrous_oxide_per_capita has 18551 null values
Column primary_energy_consumption has 17664 null values
Column energy_per_capita has 17664 null values
Column energy_per_gdp has 17664 null values
Column population has 2637 null values
Column gdp has 10706 null values

In [8]:
# copy original dataframe
emissions_df = ow_data_df.copy()
emissions_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [9]:
# check columns..again...
emissions_df.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_growth_prct',
       'co2_growth_abs', 'consumption_co2', 'trade_co2', 'trade_co2_share',
       'co2_per_capita', 'consumption_co2_per_capita', 'share_global_co2',
       'cumulative_co2', 'share_global_cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'co2_per_unit_energy', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'total_ghg', 'ghg_per_capita',
       'methane', 'methane_per_capita', 'nitrous_oxide',
       'nitrous_oxide_per_capita', 'primary_energy_consumption',
       'energy_per_capita', 'energy_per_gdp', 'population', 'gdp'],
      dtype='object')

In [10]:
# emissions_df.loc[(emissions_df['year'] >= 2019)]

In [11]:
# add the iso_code and country to new dataframe
# country_names_df = ow_data_df[['iso_code', 'country']]
# country_names_df.head()

In [12]:
# drop columns
# (columns=['co2_per_unit_energy','share_global_coal_co2', 'share_global_oil_co2',
#        'share_global_gas_co2', 'share_global_flaring_co2',
#        'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
#        'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
#        'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
#        'share_global_cumulative_gas_co2',
#        'share_global_cumulative_flaring_co2',
#        'share_global_cumulative_cement_co2', 'primary_energy_consumption',
#        'energy_per_capita', 'energy_per_gdp','share_global_cumulative_co2','total_ghg', 'ghg_per_capita', 'methane',
#        'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita'], inplace=True)

In [13]:
#create new dataframe with dropped columns
new_emissions_df = emissions_df.drop(columns=['co2_per_unit_energy','share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'primary_energy_consumption',
       'energy_per_capita', 'energy_per_gdp','share_global_cumulative_co2','total_ghg', 'ghg_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita'])

In [14]:
# check dataframe
new_emissions_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,0.002,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,0.063,NaN,NaN,0.003,NaN,NaN,0.008,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,0.066,NaN,NaN,0.003,NaN,NaN,0.008,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,0.060,NaN,NaN,0.004,NaN,NaN,0.008,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,0.068,NaN,NaN,0.005,NaN,NaN,0.008,NaN,8040000.0,2.201546e+10

In [15]:
new_emissions_df.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_growth_prct',
       'co2_growth_abs', 'consumption_co2', 'trade_co2', 'trade_co2_share',
       'co2_per_capita', 'consumption_co2_per_capita', 'share_global_co2',
       'cumulative_co2', 'co2_per_gdp', 'consumption_co2_per_gdp',
       'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2',
       'other_industry_co2', 'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'population', 'gdp'],
      dtype='object')

In [16]:
# address missing values
new_emissions_df.fillna(value=0, inplace=True)

In [17]:
#reorder columns
new_emissions_df=new_emissions_df[['iso_code', 'country', 'year', 'population','gdp', 'co2', 'co2_growth_prct',
       'co2_growth_abs', 'consumption_co2', 'trade_co2', 'trade_co2_share',
       'co2_per_capita', 'consumption_co2_per_capita', 'share_global_co2',
       'cumulative_co2', 'co2_per_gdp', 'consumption_co2_per_gdp',
       'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2',
       'other_industry_co2', 'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita']]

In [18]:
new_emissions_df.tail()

,iso_code,country,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
23703,ZWE,Zimbabwe,2015,13815000.0,2.503057e+10,12.170,1.653,0.198,13.308,1.138,...,8.035,0.0,0.0,3.631,0.0,0.037,0.582,0.0,0.0,0.263
23704,ZWE,Zimbabwe,2016,14030000.0,2.515176e+10,10.815,-11.139,-1.356,12.171,1.356,...,7.061,0.0,0.0,3.173,0.0,0.041,0.503,0.0,0.0,0.226
23705,ZWE,Zimbabwe,2017,14237000.0,0.000000e+00,10.247,-5.251,-0.568,11.774,1.527,...,6.383,0.0,0.0,3.283,0.0,0.041,0.448,0.0,0.0,0.231
23706,ZWE,Zimbabwe,2018,14439000.0,0.000000e+00,11.341,10.674,1.094,12.815,1.475,...,7.369,0.0,0.0,3.390,0.0,0.040,0.510,0.0,0.0,0.235
23707,ZWE,Zimbabwe,2019,14645000.0,0.000000e+00,10.374,-8.521,-0.966,0.000,0.000,...,6.304,0.0,0.0,3.489,0.0,0.040,0.430,0.0,0.0,0.238

#### Events Essentially Review (of last 20 years CO2 Emissions to cover both time periods),  2000-2019

In [19]:
new_emissions_df.shape

(23708, 28)

In [20]:
# filter between 2000-2019, or 2010 -2019-->create new dataframe
# new_emissions_df.loc[(new_emissions_df['year'] >= 2010) & (emissions_df['year'] <= 2020)]
new_emissions_df.loc[new_emissions_df['year'] >=2000]

,iso_code,country,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
51,AFG,Afghanistan,2000,20780000.0,1.650883e+10,0.758,-6.404,-0.052,0.000,0.000,...,0.004,0.022,0.224,0.498,0.0,0.000,0.000,0.001,0.011,0.024
52,AFG,Afghanistan,2001,21607000.0,1.557484e+10,0.798,5.318,0.040,0.000,0.000,...,0.070,0.022,0.209,0.491,0.0,0.000,0.003,0.001,0.010,0.023
53,AFG,Afghanistan,2002,22601000.0,2.567680e+10,1.052,31.787,0.254,0.000,0.000,...,0.055,0.000,0.546,0.440,0.0,0.000,0.002,0.000,0.024,0.019
54,AFG,Afghanistan,2003,23681000.0,2.780556e+10,1.186,12.775,0.134,0.000,0.000,...,0.092,0.000,0.465,0.619,0.0,0.000,0.004,0.000,0.020,0.026
55,AFG,Afghanistan,2004,24727000.0,2.844769e+10,0.889,-25.025,-0.297,0.000,0.000,...,0.092,0.000,0.227,0.561,0.0,0.000,0.004,0.000,0.009,0.023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,ZWE,Zimbabwe,2015,13815000.0,2.503057e+10,12.170,1.653,0.198,13.308,1.138,...,8.035,0.000,0.000,3.631,0.0,0.037,0.582,0.000,0.000,0.263
23704,ZWE,Zimbabwe,2016,14030000.0,2.515176e+10,10.815,-11.139,-1.356,12.171,1.356,...,7.061,0.000,0.000,3.173,0.0,0.041,0.503,0.000,0.000,0.226
23705,ZWE,Zimbabwe,2017,14237000.0,0.000000e+00,10.247,-5.251,-0.568,11.774,1.527,...,6.383,0.000,0.000,3.283,0.0,0.041,0.448,0.000,0.000,0.231
23706,ZWE,Zimbabwe,2018,14439000.0,0.000000e+00,11.341,10.674,1.094,12.815,1.475,...,7.369,0.000,0.000,3.390,0.0,0.040,0.510,0.000,0.000,0.235
23707,ZWE,Zimbabwe,2019,14645000.0,0.000000e+00,10.374,-8.521,-0.966,0.000,0.000,...,6.304,0.000,0.000,3.489,0.0,0.040,0.430,0.000,0.000,0.238

In [21]:
#new dataframe
decade_ems_df =new_emissions_df.loc[new_emissions_df['year'] >=2000]
decade_ems_df

,iso_code,country,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
51,AFG,Afghanistan,2000,20780000.0,1.650883e+10,0.758,-6.404,-0.052,0.000,0.000,...,0.004,0.022,0.224,0.498,0.0,0.000,0.000,0.001,0.011,0.024
52,AFG,Afghanistan,2001,21607000.0,1.557484e+10,0.798,5.318,0.040,0.000,0.000,...,0.070,0.022,0.209,0.491,0.0,0.000,0.003,0.001,0.010,0.023
53,AFG,Afghanistan,2002,22601000.0,2.567680e+10,1.052,31.787,0.254,0.000,0.000,...,0.055,0.000,0.546,0.440,0.0,0.000,0.002,0.000,0.024,0.019
54,AFG,Afghanistan,2003,23681000.0,2.780556e+10,1.186,12.775,0.134,0.000,0.000,...,0.092,0.000,0.465,0.619,0.0,0.000,0.004,0.000,0.020,0.026
55,AFG,Afghanistan,2004,24727000.0,2.844769e+10,0.889,-25.025,-0.297,0.000,0.000,...,0.092,0.000,0.227,0.561,0.0,0.000,0.004,0.000,0.009,0.023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,ZWE,Zimbabwe,2015,13815000.0,2.503057e+10,12.170,1.653,0.198,13.308,1.138,...,8.035,0.000,0.000,3.631,0.0,0.037,0.582,0.000,0.000,0.263
23704,ZWE,Zimbabwe,2016,14030000.0,2.515176e+10,10.815,-11.139,-1.356,12.171,1.356,...,7.061,0.000,0.000,3.173,0.0,0.041,0.503,0.000,0.000,0.226
23705,ZWE,Zimbabwe,2017,14237000.0,0.000000e+00,10.247,-5.251,-0.568,11.774,1.527,...,6.383,0.000,0.000,3.283,0.0,0.041,0.448,0.000,0.000,0.231
23706,ZWE,Zimbabwe,2018,14439000.0,0.000000e+00,11.341,10.674,1.094,12.815,1.475,...,7.369,0.000,0.000,3.390,0.0,0.040,0.510,0.000,0.000,0.235
23707,ZWE,Zimbabwe,2019,14645000.0,0.000000e+00,10.374,-8.521,-0.966,0.000,0.000,...,6.304,0.000,0.000,3.489,0.0,0.040,0.430,0.000,0.000,0.238

In [22]:
# find the unique values of the dataframe, column
# decade_ems_df.country.unquie()
decade_ems_df['country'].nunique()

227

In [23]:
decade_ems_df['country'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Asia (excl. China & India)', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'EU-27', 'EU-28', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Europe (excl. EU-27)',
       'Europe (excl. EU-28)', 'Faeroe Islands', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'International transport', 'Iran', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North America (excl. USA)',
       'North Korea', 'North Macedonia', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wallis and Futuna Islands', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

Regions found:
Asia, Europe, Oceania, Australia, Africa, North America and South America

Regions Missing: Central America, (The) Carribean

    * Create "missing" regions, filter countries by regions
    * House in dataframe
    * Append new regions to "end" of 'decade_ems' dataframe

### Create  Geo-Regions for: The Caribbeans, Central America
* Create new regions from great_recession_index.csv

    * Central America: 'Belize', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama'
* Caribbean:

     'British Virgin Islands', 'Anguilla', 'Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados', 'Bermuda', 'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica', 'Martinique', 'Montserrat', 'Netherlands Antilles', 'Puerto Rico', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the 'Grenadines', 'Trinidad and Tobago', 'Turks and Caicos Islands', 'U.S. Virgin Islands'

#### (The) Caribbean

In [24]:
#create a dataframe of all carribean countries:
# filter for Carribean Countries
carb=['British Virgin Islands', 'Anguilla', 'Antigua and Barbuda', 'Aruba',  'Bahamas', 'Barbados', 'Bermuda', 'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica', 'Martinique', 'Montserrat', 'Netherlands Antilles', 'Puerto Rico', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'Turks and Caicos Islands', 'U.S. Virgin Islands']
caribbean_df=decade_ems_df[decade_ems_df.country.isin(carb)]

In [25]:
caribbean_df.columns

Index(['iso_code', 'country', 'year', 'population', 'gdp', 'co2',
       'co2_growth_prct', 'co2_growth_abs', 'consumption_co2', 'trade_co2',
       'trade_co2_share', 'co2_per_capita', 'consumption_co2_per_capita',
       'share_global_co2', 'cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'cement_co2', 'coal_co2', 'flaring_co2',
       'gas_co2', 'oil_co2', 'other_industry_co2', 'cement_co2_per_capita',
       'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita',
       'oil_co2_per_capita'],
      dtype='object')

In [26]:
caribbean_df.shape

(380, 28)

In [27]:
caribbean_df.head()

,iso_code,country,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
508,AIA,Anguilla,2000,11000.0,0.0,0.088,9.091,0.007,0.0,0.0,...,0.0,0.0,0.0,0.088,0.0,0.0,0.0,0.0,0.0,7.994
509,AIA,Anguilla,2001,12000.0,0.0,0.095,8.333,0.007,0.0,0.0,...,0.0,0.0,0.0,0.095,0.0,0.0,0.0,0.0,0.0,7.939
510,AIA,Anguilla,2002,12000.0,0.0,0.095,0.000,0.000,0.0,0.0,...,0.0,0.0,0.0,0.095,0.0,0.0,0.0,0.0,0.0,7.939
511,AIA,Anguilla,2003,12000.0,0.0,0.103,7.692,0.007,0.0,0.0,...,0.0,0.0,0.0,0.103,0.0,0.0,0.0,0.0,0.0,8.549
512,AIA,Anguilla,2004,12000.0,0.0,0.121,17.857,0.018,0.0,0.0,...,0.0,0.0,0.0,0.121,0.0,0.0,0.0,0.0,0.0,10.076

In [28]:
# add the sum of c02 and co2_per_capita, groupby year, create new dataframe
car_df=caribbean_df.groupby('year').sum()[['population', 'gdp', 'co2',
       'co2_growth_prct', 'co2_growth_abs', 'consumption_co2', 'trade_co2',
       'trade_co2_share', 'co2_per_capita', 'consumption_co2_per_capita',
       'share_global_co2', 'cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'cement_co2', 'coal_co2', 'flaring_co2',
       'gas_co2', 'oil_co2', 'other_industry_co2', 'cement_co2_per_capita',
       'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita',
       'oil_co2_per_capita']]
car_df

,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,consumption_co2_per_capita,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
year,,,,,,,,,,,,,,,,,,,,,
2000,33323000.0,1.713780e+11,88.943,250.910,5.686,43.775,-10.324,-54.541,110.130,15.614,...,0.525,0.000,20.742,65.188,0.0,1.031,0.121,0.000,15.706,93.274
2001,33674000.0,1.773023e+11,91.242,79.519,2.302,49.030,-7.711,-25.370,111.688,18.576,...,0.748,0.000,23.720,64.282,0.0,0.982,0.133,0.000,17.936,92.635
2002,34015000.0,1.801989e+11,95.824,136.627,4.579,48.800,-11.455,-51.079,119.369,19.672,...,0.927,0.000,25.816,66.386,0.0,1.100,0.176,0.000,19.523,98.570
2003,34354000.0,1.842368e+11,99.777,101.644,3.956,51.329,-13.211,-42.431,122.945,21.720,...,3.136,0.004,29.315,64.644,0.0,1.121,0.433,0.013,21.666,99.711
2004,34682000.0,1.889373e+11,96.196,71.106,-3.579,47.829,-13.162,-35.620,125.640,20.659,...,2.348,0.004,31.309,59.949,0.0,1.102,0.327,0.013,23.269,100.932
2005,35001000.0,2.045231e+11,102.562,51.136,6.365,51.508,-14.755,-16.788,131.105,21.071,...,1.502,0.004,35.570,62.862,0.0,1.073,0.225,0.013,26.244,103.549
2006,35308000.0,2.259645e+11,110.025,94.238,7.466,49.167,-23.911,-31.955,136.584,17.925,...,1.975,0.004,40.762,64.114,0.0,1.179,0.254,0.013,29.586,105.552
2007,35602000.0,2.414263e+11,112.905,110.614,2.883,57.976,-17.959,-2.240,143.249,22.770,...,2.103,0.000,43.287,64.251,0.0,1.165,0.259,0.000,30.957,110.869
2008,35891000.0,2.514810e+11,114.638,39.286,1.728,59.447,-15.696,1.376,142.678,22.934,...,2.334,0.004,41.887,67.122,0.0,1.157,0.288,0.013,29.865,111.356
2009,36187000.0,2.482405e+11,110.816,-10.926,-3.822,61.695,-10.272,-3.705,137.193,27.905,...,2.291,0.004,42.331,63.067,0.0,1.028,0.281,0.013,30.007,105.862
2010,36487000.0,2.622229e+11,120.474,123.817,9.660,62.583,-12.627,4.821,145.328,27.337,...,2.045,0.004,45.591,69.720,0.0,0.944,0.248,0.013,32.073,112.049
2011,36802000.0,2.726787e+11,115.951,-123.960,-4.524,60.018,-16.236,2.781,133.484,24.250,...,2.742,0.004,45.119,65.078,0.0,0.923,0.342,0.013,31.487,100.717
2012,37127000.0,2.786986e+11,114.026,-12.064,-1.924,61.234,-13.729,10.071,120.651,24.356,...,2.199,0.004,44.592,64.219,0.0,0.811,0.279,0.013,30.675,88.872
2013,37454000.0,2.865512e+11,112.770,56.225,-1.256,59.640,-15.138,0.831,120.038,23.603,...,2.716,0.004,45.196,61.776,0.0,0.834,0.338,0.013,30.871,87.984
2014,37776000.0,2.974511e+11,113.374,64.673,0.602,62.174,-13.497,4.965,122.226,25.727,...,3.477,0.000,45.596,60.858,0.0,0.887,0.420,0.000,30.785,90.133
2015,38089000.0,3.094996e+11,115.883,33.675,2.511,65.129,-11.417,-4.655,122.009,27.644,...,3.184,0.000,44.111,65.100,0.0,0.887,0.386,0.000,29.475,91.263
2016,38391000.0,2.287294e+11,111.013,-27.047,-4.867,64.165,-8.658,-11.966,113.390,26.903,...,3.140,0.000,39.957,64.511,0.0,0.841,0.375,0.000,26.425,85.748
2017,38682000.0,0.000000e+00,107.464,-27.285,-3.549,62.141,-9.880,-13.296,110.467,25.508,...,3.577,0.000,39.019,61.498,0.0,0.825,0.403,0.000,25.551,83.689
2018,38966000.0,0.000000e+00,107.876,47.318,0.411,60.753,-10.428,-20.014,110.768,23.863,...,3.848,0.000,37.800,62.900,0.0,0.807,0.428,0.000,24.201,85.334
2019,39239000.0,0.000000e+00,109.609,-24.322,1.734,0.000,0.000,0.000,108.783,0.000,...,5.965,0.000,39.220,61.079,0.0,0.808,0.659,0.000,24.480,82.835

In [29]:
#convert index to column
car_df.reset_index()

,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
0,2000,33323000.0,1.713780e+11,88.943,250.910,5.686,43.775,-10.324,-54.541,110.130,...,0.525,0.000,20.742,65.188,0.0,1.031,0.121,0.000,15.706,93.274
1,2001,33674000.0,1.773023e+11,91.242,79.519,2.302,49.030,-7.711,-25.370,111.688,...,0.748,0.000,23.720,64.282,0.0,0.982,0.133,0.000,17.936,92.635
2,2002,34015000.0,1.801989e+11,95.824,136.627,4.579,48.800,-11.455,-51.079,119.369,...,0.927,0.000,25.816,66.386,0.0,1.100,0.176,0.000,19.523,98.570
3,2003,34354000.0,1.842368e+11,99.777,101.644,3.956,51.329,-13.211,-42.431,122.945,...,3.136,0.004,29.315,64.644,0.0,1.121,0.433,0.013,21.666,99.711
4,2004,34682000.0,1.889373e+11,96.196,71.106,-3.579,47.829,-13.162,-35.620,125.640,...,2.348,0.004,31.309,59.949,0.0,1.102,0.327,0.013,23.269,100.932
5,2005,35001000.0,2.045231e+11,102.562,51.136,6.365,51.508,-14.755,-16.788,131.105,...,1.502,0.004,35.570,62.862,0.0,1.073,0.225,0.013,26.244,103.549
6,2006,35308000.0,2.259645e+11,110.025,94.238,7.466,49.167,-23.911,-31.955,136.584,...,1.975,0.004,40.762,64.114,0.0,1.179,0.254,0.013,29.586,105.552
7,2007,35602000.0,2.414263e+11,112.905,110.614,2.883,57.976,-17.959,-2.240,143.249,...,2.103,0.000,43.287,64.251,0.0,1.165,0.259,0.000,30.957,110.869
8,2008,35891000.0,2.514810e+11,114.638,39.286,1.728,59.447,-15.696,1.376,142.678,...,2.334,0.004,41.887,67.122,0.0,1.157,0.288,0.013,29.865,111.356
9,2009,36187000.0,2.482405e+11,110.816,-10.926,-3.822,61.695,-10.272,-3.705,137.193,...,2.291,0.004,42.331,63.067,0.0,1.028,0.281,0.013,30.007,105.862
10,2010,36487000.0,2.622229e+11,120.474,123.817,9.660,62.583,-12.627,4.821,145.328,...,2.045,0.004,45.591,69.720,0.0,0.944,0.248,0.013,32.073,112.049
11,2011,36802000.0,2.726787e+11,115.951,-123.960,-4.524,60.018,-16.236,2.781,133.484,...,2.742,0.004,45.119,65.078,0.0,0.923,0.342,0.013,31.487,100.717
12,2012,37127000.0,2.786986e+11,114.026,-12.064,-1.924,61.234,-13.729,10.071,120.651,...,2.199,0.004,44.592,64.219,0.0,0.811,0.279,0.013,30.675,88.872
13,2013,37454000.0,2.865512e+11,112.770,56.225,-1.256,59.640,-15.138,0.831,120.038,...,2.716,0.004,45.196,61.776,0.0,0.834,0.338,0.013,30.871,87.984
14,2014,37776000.0,2.974511e+11,113.374,64.673,0.602,62.174,-13.497,4.965,122.226,...,3.477,0.000,45.596,60.858,0.0,0.887,0.420,0.000,30.785,90.133
15,2015,38089000.0,3.094996e+11,115.883,33.675,2.511,65.129,-11.417,-4.655,122.009,...,3.184,0.000,44.111,65.100,0.0,0.887,0.386,0.000,29.475,91.263
16,2016,38391000.0,2.287294e+11,111.013,-27.047,-4.867,64.165,-8.658,-11.966,113.390,...,3.140,0.000,39.957,64.511,0.0,0.841,0.375,0.000,26.425,85.748
17,2017,38682000.0,0.000000e+00,107.464,-27.285,-3.549,62.141,-9.880,-13.296,110.467,...,3.577,0.000,39.019,61.498,0.0,0.825,0.403,0.000,25.551,83.689
18,2018,38966000.0,0.000000e+00,107.876,47.318,0.411,60.753,-10.428,-20.014,110.768,...,3.848,0.000,37.800,62.900,0.0,0.807,0.428,0.000,24.201,85.334
19,2019,39239000.0,0.000000e+00,109.609,-24.322,1.734,0.000,0.000,0.000,108.783,...,5.965,0.000,39.220,61.079,0.0,0.808,0.659,0.000,24.480,82.835

In [30]:
#add new columns
#add country/region to Carribean
#pd.Dataframe[new_column] = value 
car_df['country'] = "Caribbean"
car_df['iso_code']=" "
#add year
car_df['year']=['2000','2001','2002','2003', '2004','2005', '2006','2007','2008','2009','2010','2011','2012','2013','2014', '2015','2016','2017','2018', '2019']

In [31]:
#check columns
car_df.columns

Index(['population', 'gdp', 'co2', 'co2_growth_prct', 'co2_growth_abs',
       'consumption_co2', 'trade_co2', 'trade_co2_share', 'co2_per_capita',
       'consumption_co2_per_capita', 'share_global_co2', 'cumulative_co2',
       'co2_per_gdp', 'consumption_co2_per_gdp', 'cement_co2', 'coal_co2',
       'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'country', 'iso_code', 'year'],
      dtype='object')

In [32]:
car_df.shape

(20, 28)

In [33]:
#reorder columns
car_df=car_df[['iso_code', 'country', 'year', 'population', 'gdp', 'co2',
       'co2_growth_prct', 'co2_growth_abs', 'consumption_co2', 'trade_co2',
       'trade_co2_share', 'co2_per_capita', 'consumption_co2_per_capita',
       'share_global_co2', 'cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'cement_co2', 'coal_co2', 'flaring_co2',
       'gas_co2', 'oil_co2', 'other_industry_co2', 'cement_co2_per_capita',
       'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita',
       'oil_co2_per_capita']]

In [34]:
car_df.head()

,iso_code,country,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
year,,,,,,,,,,,,,,,,,,,,,
2000,,Caribbean,2000,33323000.0,1.713780e+11,88.943,250.910,5.686,43.775,-10.324,...,0.525,0.000,20.742,65.188,0.0,1.031,0.121,0.000,15.706,93.274
2001,,Caribbean,2001,33674000.0,1.773023e+11,91.242,79.519,2.302,49.030,-7.711,...,0.748,0.000,23.720,64.282,0.0,0.982,0.133,0.000,17.936,92.635
2002,,Caribbean,2002,34015000.0,1.801989e+11,95.824,136.627,4.579,48.800,-11.455,...,0.927,0.000,25.816,66.386,0.0,1.100,0.176,0.000,19.523,98.570
2003,,Caribbean,2003,34354000.0,1.842368e+11,99.777,101.644,3.956,51.329,-13.211,...,3.136,0.004,29.315,64.644,0.0,1.121,0.433,0.013,21.666,99.711
2004,,Caribbean,2004,34682000.0,1.889373e+11,96.196,71.106,-3.579,47.829,-13.162,...,2.348,0.004,31.309,59.949,0.0,1.102,0.327,0.013,23.269,100.932

In [35]:
# # drop index
car_df.reset_index(drop=True, inplace=True)

In [36]:
#check_dataframe
car_df.shape

(20, 28)

#### Central America

In [37]:
#create a dataframe for countries in Central America
#filter for Central American Countries
ca=['Belize', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama']
central_america_df=decade_ems_df[decade_ems_df.country.isin(ca)]

In [38]:
central_america_df.columns

Index(['iso_code', 'country', 'year', 'population', 'gdp', 'co2',
       'co2_growth_prct', 'co2_growth_abs', 'consumption_co2', 'trade_co2',
       'trade_co2_share', 'co2_per_capita', 'consumption_co2_per_capita',
       'share_global_co2', 'cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'cement_co2', 'coal_co2', 'flaring_co2',
       'gas_co2', 'oil_co2', 'other_industry_co2', 'cement_co2_per_capita',
       'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita',
       'oil_co2_per_capita'],
      dtype='object')

In [39]:
#check dataframe
central_america_df.shape

(140, 28)

In [40]:
central_america_df.head()

,iso_code,country,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
2694,BLZ,Belize,2000,247000.0,0.0,0.396,13.684,0.048,0.0,0.0,...,0.0,0.0,0.0,0.396,0.0,0.0,0.0,0.0,0.0,1.602
2695,BLZ,Belize,2001,255000.0,0.0,0.447,12.963,0.051,0.0,0.0,...,0.0,0.0,0.0,0.447,0.0,0.0,0.0,0.0,0.0,1.753
2696,BLZ,Belize,2002,262000.0,0.0,0.432,-3.279,-0.015,0.0,0.0,...,0.0,0.0,0.0,0.432,0.0,0.0,0.0,0.0,0.0,1.650
2697,BLZ,Belize,2003,269000.0,0.0,0.432,0.000,0.000,0.0,0.0,...,0.0,0.0,0.0,0.432,0.0,0.0,0.0,0.0,0.0,1.607
2698,BLZ,Belize,2004,277000.0,0.0,0.392,-9.322,-0.040,0.0,0.0,...,0.0,0.0,0.0,0.392,0.0,0.0,0.0,0.0,0.0,1.415

In [41]:
# add the sum of c02 and co2_per_capita, groupby year, create new dataframe
cen_df=central_america_df.groupby('year').sum()[['population', 'gdp', 'co2',
       'co2_growth_prct', 'co2_growth_abs', 'consumption_co2', 'trade_co2',
       'trade_co2_share', 'co2_per_capita', 'consumption_co2_per_capita',
       'share_global_co2', 'cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'cement_co2', 'coal_co2', 'flaring_co2',
       'gas_co2', 'oil_co2', 'other_industry_co2', 'cement_co2_per_capita',
       'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita',
       'oil_co2_per_capita']]
cen_df

,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,consumption_co2_per_capita,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
year,,,,,,,,,,,,,,,,,,,,,
2000,36422000.0,1.819057e+11,35.655,37.724,1.609,48.561,13.303,231.118,8.146,8.856,...,1.092,0.0,0.000,31.646,0.0,0.523,0.157,0.0,0.000,7.467
2001,37128000.0,1.880050e+11,38.734,66.438,3.078,51.931,13.646,222.036,8.854,9.263,...,1.147,0.0,0.000,34.611,0.0,0.519,0.178,0.0,0.000,8.159
2002,37831000.0,1.956694e+11,39.188,5.302,0.453,60.697,21.942,332.548,8.533,10.800,...,1.701,0.0,0.000,34.528,0.0,0.503,0.222,0.0,0.000,7.808
2003,38534000.0,2.063261e+11,40.986,34.949,1.799,49.709,9.155,124.820,8.752,7.867,...,1.623,0.0,0.000,36.210,0.0,0.537,0.189,0.0,0.000,8.027
2004,39240000.0,2.150316e+11,42.005,2.320,1.016,51.088,9.475,118.161,8.504,8.035,...,1.764,0.0,0.000,36.966,0.0,0.556,0.191,0.0,0.000,7.757
2005,39946000.0,2.341251e+11,44.138,34.854,2.133,52.724,9.008,118.663,8.844,7.830,...,3.016,0.0,0.000,37.637,0.0,0.590,0.449,0.0,0.000,7.805
2006,40652000.0,2.481276e+11,44.989,19.957,0.850,51.077,6.532,86.426,9.022,7.276,...,2.573,0.0,0.000,39.022,0.0,0.546,0.332,0.0,0.000,8.146
2007,41363000.0,2.607786e+11,47.772,48.716,2.784,56.894,9.595,109.720,9.405,8.450,...,2.107,0.0,0.000,41.873,0.0,0.618,0.297,0.0,0.000,8.492
2008,42072000.0,2.702205e+11,45.922,-28.211,-1.851,60.430,14.943,188.030,8.951,9.516,...,1.707,0.0,0.000,40.216,0.0,0.676,0.162,0.0,0.000,8.111
2009,42786000.0,2.763116e+11,46.958,30.771,1.037,67.766,21.325,265.115,9.294,11.976,...,1.472,0.0,0.000,41.998,0.0,0.611,0.165,0.0,0.000,8.518
2010,43497000.0,2.910376e+11,46.949,4.912,-0.010,77.798,31.388,378.044,9.305,14.267,...,1.847,0.0,0.011,41.529,0.0,0.545,0.156,0.0,0.034,8.571
2011,44213000.0,3.125230e+11,48.996,30.826,2.049,71.248,22.806,276.557,9.582,11.816,...,2.609,0.0,0.011,42.605,0.0,0.583,0.340,0.0,0.033,8.625
2012,44930000.0,3.230240e+11,49.040,-20.570,0.042,86.232,37.644,435.304,9.065,15.240,...,3.088,0.0,0.007,41.934,0.0,0.631,0.410,0.0,0.022,8.003
2013,45646000.0,3.371616e+11,51.747,28.843,2.708,81.748,30.478,330.995,9.499,13.858,...,3.895,0.0,0.004,43.829,0.0,0.624,0.465,0.0,0.011,8.397
2014,46366000.0,3.475130e+11,52.727,10.896,0.980,83.562,31.304,334.882,9.348,13.963,...,3.998,0.0,0.004,44.621,0.0,0.604,0.463,0.0,0.010,8.270
2015,47090000.0,3.624539e+11,56.398,77.580,3.673,84.194,28.436,293.449,10.006,13.628,...,5.003,0.0,0.004,47.247,0.0,0.603,0.512,0.0,0.010,8.880
2016,47818000.0,3.758663e+11,57.011,1.572,0.613,83.152,26.748,274.516,9.789,13.140,...,5.661,0.0,0.004,47.202,0.0,0.595,0.530,0.0,0.010,8.654
2017,48550000.0,0.000000e+00,59.317,17.458,2.304,85.179,26.479,257.031,10.065,13.274,...,5.170,0.0,0.004,49.993,0.0,0.587,0.398,0.0,0.010,9.069
2018,49282000.0,0.000000e+00,62.234,19.381,2.920,89.325,27.701,263.288,10.130,13.568,...,8.072,0.0,0.000,50.015,0.0,0.578,0.611,0.0,0.000,8.943
2019,50011000.0,0.000000e+00,64.841,26.237,2.606,0.000,0.000,0.000,10.351,0.000,...,8.999,0.0,0.000,51.696,0.0,0.570,0.669,0.0,0.000,9.111

In [42]:
#convert index to column
cen_df.reset_index()

,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
0,2000,36422000.0,1.819057e+11,35.655,37.724,1.609,48.561,13.303,231.118,8.146,...,1.092,0.0,0.000,31.646,0.0,0.523,0.157,0.0,0.000,7.467
1,2001,37128000.0,1.880050e+11,38.734,66.438,3.078,51.931,13.646,222.036,8.854,...,1.147,0.0,0.000,34.611,0.0,0.519,0.178,0.0,0.000,8.159
2,2002,37831000.0,1.956694e+11,39.188,5.302,0.453,60.697,21.942,332.548,8.533,...,1.701,0.0,0.000,34.528,0.0,0.503,0.222,0.0,0.000,7.808
3,2003,38534000.0,2.063261e+11,40.986,34.949,1.799,49.709,9.155,124.820,8.752,...,1.623,0.0,0.000,36.210,0.0,0.537,0.189,0.0,0.000,8.027
4,2004,39240000.0,2.150316e+11,42.005,2.320,1.016,51.088,9.475,118.161,8.504,...,1.764,0.0,0.000,36.966,0.0,0.556,0.191,0.0,0.000,7.757
5,2005,39946000.0,2.341251e+11,44.138,34.854,2.133,52.724,9.008,118.663,8.844,...,3.016,0.0,0.000,37.637,0.0,0.590,0.449,0.0,0.000,7.805
6,2006,40652000.0,2.481276e+11,44.989,19.957,0.850,51.077,6.532,86.426,9.022,...,2.573,0.0,0.000,39.022,0.0,0.546,0.332,0.0,0.000,8.146
7,2007,41363000.0,2.607786e+11,47.772,48.716,2.784,56.894,9.595,109.720,9.405,...,2.107,0.0,0.000,41.873,0.0,0.618,0.297,0.0,0.000,8.492
8,2008,42072000.0,2.702205e+11,45.922,-28.211,-1.851,60.430,14.943,188.030,8.951,...,1.707,0.0,0.000,40.216,0.0,0.676,0.162,0.0,0.000,8.111
9,2009,42786000.0,2.763116e+11,46.958,30.771,1.037,67.766,21.325,265.115,9.294,...,1.472,0.0,0.000,41.998,0.0,0.611,0.165,0.0,0.000,8.518
10,2010,43497000.0,2.910376e+11,46.949,4.912,-0.010,77.798,31.388,378.044,9.305,...,1.847,0.0,0.011,41.529,0.0,0.545,0.156,0.0,0.034,8.571
11,2011,44213000.0,3.125230e+11,48.996,30.826,2.049,71.248,22.806,276.557,9.582,...,2.609,0.0,0.011,42.605,0.0,0.583,0.340,0.0,0.033,8.625
12,2012,44930000.0,3.230240e+11,49.040,-20.570,0.042,86.232,37.644,435.304,9.065,...,3.088,0.0,0.007,41.934,0.0,0.631,0.410,0.0,0.022,8.003
13,2013,45646000.0,3.371616e+11,51.747,28.843,2.708,81.748,30.478,330.995,9.499,...,3.895,0.0,0.004,43.829,0.0,0.624,0.465,0.0,0.011,8.397
14,2014,46366000.0,3.475130e+11,52.727,10.896,0.980,83.562,31.304,334.882,9.348,...,3.998,0.0,0.004,44.621,0.0,0.604,0.463,0.0,0.010,8.270
15,2015,47090000.0,3.624539e+11,56.398,77.580,3.673,84.194,28.436,293.449,10.006,...,5.003,0.0,0.004,47.247,0.0,0.603,0.512,0.0,0.010,8.880
16,2016,47818000.0,3.758663e+11,57.011,1.572,0.613,83.152,26.748,274.516,9.789,...,5.661,0.0,0.004,47.202,0.0,0.595,0.530,0.0,0.010,8.654
17,2017,48550000.0,0.000000e+00,59.317,17.458,2.304,85.179,26.479,257.031,10.065,...,5.170,0.0,0.004,49.993,0.0,0.587,0.398,0.0,0.010,9.069
18,2018,49282000.0,0.000000e+00,62.234,19.381,2.920,89.325,27.701,263.288,10.130,...,8.072,0.0,0.000,50.015,0.0,0.578,0.611,0.0,0.000,8.943
19,2019,50011000.0,0.000000e+00,64.841,26.237,2.606,0.000,0.000,0.000,10.351,...,8.999,0.0,0.000,51.696,0.0,0.570,0.669,0.0,0.000,9.111

In [43]:
#add new columns
#add country/region to Central America
#pd.Dataframe[new_column] = value 
cen_df['country'] = "Central America"
cen_df['iso_code']=" "
#add year
cen_df['year']=['2000','2001','2002','2003', '2004','2005', '2006','2007','2008','2009','2010','2011','2012','2013','2014', '2015','2016','2017','2018', '2019']

In [44]:
#check columns
cen_df.columns

Index(['population', 'gdp', 'co2', 'co2_growth_prct', 'co2_growth_abs',
       'consumption_co2', 'trade_co2', 'trade_co2_share', 'co2_per_capita',
       'consumption_co2_per_capita', 'share_global_co2', 'cumulative_co2',
       'co2_per_gdp', 'consumption_co2_per_gdp', 'cement_co2', 'coal_co2',
       'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'country', 'iso_code', 'year'],
      dtype='object')

In [45]:
cen_df.shape

(20, 28)

In [46]:
#reorder columns
cen_df=cen_df[['iso_code', 'country', 'year', 'population', 'gdp', 'co2',
       'co2_growth_prct', 'co2_growth_abs', 'consumption_co2', 'trade_co2',
       'trade_co2_share', 'co2_per_capita', 'consumption_co2_per_capita',
       'share_global_co2', 'cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'cement_co2', 'coal_co2', 'flaring_co2',
       'gas_co2', 'oil_co2', 'other_industry_co2', 'cement_co2_per_capita',
       'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita',
       'oil_co2_per_capita']]

In [47]:
cen_df.head()

,iso_code,country,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
year,,,,,,,,,,,,,,,,,,,,,
2000,,Central America,2000,36422000.0,1.819057e+11,35.655,37.724,1.609,48.561,13.303,...,1.092,0.0,0.0,31.646,0.0,0.523,0.157,0.0,0.0,7.467
2001,,Central America,2001,37128000.0,1.880050e+11,38.734,66.438,3.078,51.931,13.646,...,1.147,0.0,0.0,34.611,0.0,0.519,0.178,0.0,0.0,8.159
2002,,Central America,2002,37831000.0,1.956694e+11,39.188,5.302,0.453,60.697,21.942,...,1.701,0.0,0.0,34.528,0.0,0.503,0.222,0.0,0.0,7.808
2003,,Central America,2003,38534000.0,2.063261e+11,40.986,34.949,1.799,49.709,9.155,...,1.623,0.0,0.0,36.210,0.0,0.537,0.189,0.0,0.0,8.027
2004,,Central America,2004,39240000.0,2.150316e+11,42.005,2.320,1.016,51.088,9.475,...,1.764,0.0,0.0,36.966,0.0,0.556,0.191,0.0,0.0,7.757

In [48]:
# # drop index
cen_df.reset_index(drop=True, inplace=True)

In [49]:
#check_dataframe
cen_df.shape

(20, 28)

#### Add "new" regions to "decade_ems_df" --dataframe

In [50]:
#add both dataframes to co_type dataframes,
# append to end with #continous index value, ignore_index=True
#Central America
decade_ems_df=decade_ems_df.append(cen_df, ignore_index=True)

In [51]:
#Caribbean
decade_ems_df=decade_ems_df.append(car_df, ignore_index=True)

In [52]:
decade_ems_df.shape

(4563, 28)

#### Additional Clean-up...

In [53]:
## alphabetical sort 'decade_ems_df' dataframe, a-z
decade_ems_df=decade_ems_df.sort_values('country', ascending=True)

In [54]:
# Covert population column to int
decade_ems_df['population'] = decade_ems_df['population'].astype(int)

In [ ]:
#add placeholder text to 'iso_code' for missing "country/region codes"
#df.replace()
decade_ems_df['iso_code']=decade_ems_df['iso_code'].str.replace(' ','notfound')

In [70]:
#df.fillna()
decade_ems_df['iso_code'].fillna('notfound', inplace = True)

In [81]:
decade_ems_df.loc[decade_ems_df['country'] =='Africa']

,iso_code,country,year,population,gdp,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,...,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita
32,notfound,Africa,2012,1094343040,0.0,1240.355,0.466,5.750,0.0,0.0,...,426.070,57.001,231.541,458.200,0.0,0.063,0.398,0.053,0.216,0.428
33,notfound,Africa,2013,1123044992,0.0,1256.838,1.329,16.483,0.0,0.0,...,424.514,53.900,232.067,478.012,0.0,0.062,0.387,0.049,0.211,0.435
34,notfound,Africa,2014,1152434048,0.0,1348.065,7.258,91.227,0.0,0.0,...,453.111,53.981,234.538,532.612,0.0,0.065,0.402,0.048,0.208,0.473
35,notfound,Africa,2015,1182439040,0.0,1302.266,-3.397,-45.799,0.0,0.0,...,426.486,51.043,241.575,505.787,0.0,0.067,0.369,0.044,0.209,0.437
39,notfound,Africa,2019,1308064000,0.0,1434.873,1.603,22.641,0.0,0.0,...,463.038,46.038,289.131,558.911,0.0,0.061,0.362,0.036,0.226,0.437
37,notfound,Africa,2017,1244221952,0.0,1377.210,4.011,53.106,0.0,0.0,...,443.656,46.038,269.421,539.637,0.0,0.064,0.365,0.038,0.221,0.443
38,notfound,Africa,2018,1275921024,0.0,1412.232,2.543,35.021,0.0,0.0,...,455.371,46.038,286.483,545.074,0.0,0.064,0.365,0.037,0.230,0.437
31,notfound,Africa,2011,1066409984,0.0,1234.606,2.306,27.825,0.0,0.0,...,429.485,55.351,220.902,469.831,0.0,0.057,0.412,0.053,0.212,0.451
36,notfound,Africa,2016,1213041024,0.0,1324.104,1.677,21.838,0.0,0.0,...,438.846,44.469,251.799,509.723,0.0,0.067,0.370,0.037,0.212,0.430
30,notfound,Africa,2010,1039304000,0.0,1206.780,1.757,20.834,0.0,0.0,...,439.305,62.855,200.428,444.973,0.0,0.058,0.432,0.062,0.197,0.438
24,notfound,Africa,2004,893843008,0.0,1022.688,6.921,66.199,0.0,0.0,...,416.166,73.384,150.654,343.260,0.0,0.045,0.476,0.084,0.172,0.393
28,notfound,Africa,2008,987624000,0.0,1173.883,4.723,52.945,0.0,0.0,...,452.250,70.559,194.433,403.016,0.0,0.056,0.468,0.073,0.201,0.417
29,notfound,Africa,2009,1013046016,0.0,1185.946,1.028,12.063,0.0,0.0,...,440.989,59.289,191.767,434.650,0.0,0.060,0.445,0.060,0.194,0.439
21,notfound,Africa,2001,830902976,0.0,873.773,-0.761,-6.696,0.0,0.0,...,370.380,58.043,119.084,292.617,0.0,0.041,0.456,0.071,0.147,0.360
22,notfound,Africa,2002,851297984,0.0,879.285,0.631,5.512,0.0,0.0,...,359.541,67.808,133.783,282.180,0.0,0.043,0.432,0.082,0.161,0.339
23,notfound,Africa,2003,872248000,0.0,956.489,8.780,77.205,0.0,0.0,...,389.427,62.813,145.840,322.016,0.0,0.043,0.457,0.074,0.171,0.378
20,notfound,Africa,2000,810984000,0.0,880.469,7.397,60.641,0.0,0.0,...,368.658,55.191,113.049,311.640,0.0,0.040,0.465,0.070,0.143,0.393
25,notfound,Africa,2005,916153984,0.0,1039.698,1.663,17.010,0.0,0.0,...,410.933,73.242,182.191,330.644,0.0,0.048,0.459,0.082,0.203,0.369
26,notfound,Africa,2006,939209984,0.0,1078.957,3.776,39.259,0.0,0.0,...,417.122,71.639,177.997,364.864,0.0,0.052,0.454,0.078,0.194,0.397
27,notfound,Africa,2007,963022016,0.0,1120.938,3.891,41.981,0.0,0.0,...,428.041,74.926,190.925,376.323,0.0,0.054,0.455,0.080,0.203,0.400

In [80]:
#final check for missing values
# check for missing data?
# Find null values , isnull() method
# decade_ems_df.isnull().sum()['iso_code']
decade_ems_df.isnull().sum()

iso_code                      0
country                       0
year                          0
population                    0
gdp                           0
co2                           0
co2_growth_prct               0
co2_growth_abs                0
consumption_co2               0
trade_co2                     0
trade_co2_share               0
co2_per_capita                0
consumption_co2_per_capita    0
share_global_co2              0
cumulative_co2                0
co2_per_gdp                   0
consumption_co2_per_gdp       0
cement_co2                    0
coal_co2                      0
flaring_co2                   0
gas_co2                       0
oil_co2                       0
other_industry_co2            0
cement_co2_per_capita         0
coal_co2_per_capita           0
flaring_co2_per_capita        0
gas_co2_per_capita            0
oil_co2_per_capita            0
dtype: int64

#### Write to "final" dataset

In [56]:
#write final dataset to csv file for furture use
# file_path ="../../resources/data/decade_co_emissions.csv"