#### Purpose: Find data that will support the claim, or help showcase correalations between 
#### Focus Areas: 
* Great Recession: 2007-2012
* Pandemic: COVID-19/Cornoavirus: explore years between 2010-2019, Records show the years between 2010-2019 marked a decline in CO2 Emissions, primarily after the Paris Agreement

In [4]:
# Import dependencies
import pandas as  pd

In [5]:
# Load OurWorld in Data --dataset
source='https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv'
ow_data_df = pd.read_csv(source)
ow_data_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [6]:
#check columns
ow_data_df.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_growth_prct',
       'co2_growth_abs', 'consumption_co2', 'trade_co2', 'trade_co2_share',
       'co2_per_capita', 'consumption_co2_per_capita', 'share_global_co2',
       'cumulative_co2', 'share_global_cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'co2_per_unit_energy', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'total_ghg', 'ghg_per_capita',
       'methane', 'methane_per_capita', 'nitrous_oxide',
       'nitrous_oxide_per_capita', 'primary_energy_consumption',
       'energy_per_capita', 'energy_per_gdp', 'population', 'gdp'],
      dtype='object')

In [8]:
# Check data types
# List dataframe data types
ow_data_df.dtypes

iso_code                                object
country                                 object
year                                     int64
co2                                    float64
co2_growth_prct                        float64
co2_growth_abs                         float64
consumption_co2                        float64
trade_co2                              float64
trade_co2_share                        float64
co2_per_capita                         float64
consumption_co2_per_capita             float64
share_global_co2                       float64
cumulative_co2                         float64
share_global_cumulative_co2            float64
co2_per_gdp                            float64
consumption_co2_per_gdp                float64
co2_per_unit_energy                    float64
cement_co2                             float64
coal_co2                               float64
flaring_co2                            float64
gas_co2                                float64
oil_co2                                float64
other_industry_co2                     float64
cement_co2_per_capita                  float64
coal_co2_per_capita                    float64
flaring_co2_per_capita                 float64
gas_co2_per_capita                     float64
oil_co2_per_capita                     float64
other_co2_per_capita                   float64
share_global_coal_co2                  float64
share_global_oil_co2                   float64
share_global_gas_co2                   float64
share_global_flaring_co2               float64
share_global_cement_co2                float64
cumulative_coal_co2                    float64
cumulative_oil_co2                     float64
cumulative_gas_co2                     float64
cumulative_flaring_co2                 float64
cumulative_cement_co2                  float64
share_global_cumulative_coal_co2       float64
share_global_cumulative_oil_co2        float64
share_global_cumulative_gas_co2        float64
share_global_cumulative_flaring_co2    float64
share_global_cumulative_cement_co2     float64
total_ghg                              float64
ghg_per_capita                         float64
methane                                float64
methane_per_capita                     float64
nitrous_oxide                          float64
nitrous_oxide_per_capita               float64
primary_energy_consumption             float64
energy_per_capita                      float64
energy_per_gdp                         float64
population                             float64
gdp                                    float64
dtype: object

In [9]:
# check for missing data?
# Find null values , isnull() method
for c in ow_data_df.columns:
    print(f"Column {c} has {ow_data_df[c].isnull().sum()} null values")

Column iso_code has 2778 null values
Column country has 0 null values
Column year has 0 null values
Column co2 has 538 null values
Column co2_growth_prct has 1798 null values
Column co2_growth_abs has 1691 null values
Column consumption_co2 has 20358 null values
Column trade_co2 has 20390 null values
Column trade_co2_share has 20390 null values
Column co2_per_capita has 1325 null values
Column consumption_co2_per_capita has 20358 null values
Column share_global_co2 has 605 null values
Column cumulative_co2 has 130 null values
Column share_global_cumulative_co2 has 130 null values
Column co2_per_gdp has 8790 null values
Column consumption_co2_per_gdp has 20620 null values
Column co2_per_unit_energy has 16965 null values
Column cement_co2 has 11526 null values
Column coal_co2 has 6717 null values
Column flaring_co2 has 19406 null values
Column gas_co2 has 15015 null values
Column oil_co2 has 3997 null values
Column other_industry_co2 has 22145 null values
Column cement_co2_per_capita has 11555 null values
Column coal_co2_per_capita has 7237 null values
Column flaring_co2_per_capita has 19407 null values
Column gas_co2_per_capita has 15043 null values
Column oil_co2_per_capita has 4315 null values
Column other_co2_per_capita has 22145 null values
Column share_global_coal_co2 has 6717 null values
Column share_global_oil_co2 has 3997 null values
Column share_global_gas_co2 has 15015 null values
Column share_global_flaring_co2 has 19406 null values
Column share_global_cement_co2 has 11526 null values
Column cumulative_coal_co2 has 5156 null values
Column cumulative_oil_co2 has 3745 null values
Column cumulative_gas_co2 has 14521 null values
Column cumulative_flaring_co2 has 18775 null values
Column cumulative_cement_co2 has 11145 null values
Column share_global_cumulative_coal_co2 has 5156 null values
Column share_global_cumulative_oil_co2 has 3745 null values
Column share_global_cumulative_gas_co2 has 14521 null values
Column share_global_cumulative_flaring_co2 has 18775 null values
Column share_global_cumulative_cement_co2 has 11145 null values
Column total_ghg has 18500 null values
Column ghg_per_capita has 18553 null values
Column methane has 18497 null values
Column methane_per_capita has 18551 null values
Column nitrous_oxide has 18497 null values
Column nitrous_oxide_per_capita has 18551 null values
Column primary_energy_consumption has 17664 null values
Column energy_per_capita has 17664 null values
Column energy_per_gdp has 17664 null values
Column population has 2637 null values
Column gdp has 10706 null values

In [10]:
# copy original dataframe
emissions_df = ow_data_df.copy()
emissions_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [11]:
# check columns..again...
emissions_df.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_growth_prct',
       'co2_growth_abs', 'consumption_co2', 'trade_co2', 'trade_co2_share',
       'co2_per_capita', 'consumption_co2_per_capita', 'share_global_co2',
       'cumulative_co2', 'share_global_cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'co2_per_unit_energy', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'total_ghg', 'ghg_per_capita',
       'methane', 'methane_per_capita', 'nitrous_oxide',
       'nitrous_oxide_per_capita', 'primary_energy_consumption',
       'energy_per_capita', 'energy_per_gdp', 'population', 'gdp'],
      dtype='object')

In [12]:
emissions_df.loc[(emissions_df['year'] >= 2019)]

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
70,AFG,Afghanistan,2019,10.720,2.561,0.268,NaN,NaN,NaN,0.282,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.804200e+07,NaN
206,NaN,Africa,2019,1434.873,1.603,22.641,NaN,NaN,NaN,1.121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.308064e+09,NaN
293,ALB,Albania,2019,5.579,3.258,0.176,NaN,NaN,NaN,1.936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.881000e+06,NaN
397,DZA,Algeria,2019,171.707,4.502,7.398,NaN,NaN,NaN,3.988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.305300e+07,NaN
427,AND,Andorra,2019,0.470,1.354,0.006,NaN,NaN,NaN,6.110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.700000e+04,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23180,WLF,Wallis and Futuna Islands,2019,0.029,6.541,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23450,OWID_WRL,World,2019,36441.388,0.060,21.676,NaN,NaN,NaN,4.724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.713468e+09,NaN
23520,YEM,Yemen,2019,10.255,3.115,0.310,NaN,NaN,NaN,0.352,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.916200e+07,NaN
23590,ZMB,Zambia,2019,6.720,-3.025,-0.210,NaN,NaN,NaN,0.376,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.786100e+07,NaN
23707,ZWE,Zimbabwe,2019,10.374,-8.521,-0.966,NaN,NaN,NaN,0.708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.464500e+07,NaN

In [13]:
# add the iso_code and country to new dataframe
country_names_df = ow_data_df[['iso_code', 'country']]
country_names_df.head()

  iso_code      country
0      AFG  Afghanistan
1      AFG  Afghanistan
2      AFG  Afghanistan
3      AFG  Afghanistan
4      AFG  Afghanistan

In [14]:
# drop columns
emissions_df.drop(columns=['methane', 'total_ghg','nitrous_oxide_per_capita','nitrous_oxide','methane_per_capita','ghg_per_capita' ], inplace=True)

In [15]:
# check shape
emissions_df.shape

(23708, 49)

In [16]:
#check columns..again...
emissions_df.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_growth_prct',
       'co2_growth_abs', 'consumption_co2', 'trade_co2', 'trade_co2_share',
       'co2_per_capita', 'consumption_co2_per_capita', 'share_global_co2',
       'cumulative_co2', 'share_global_cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'co2_per_unit_energy', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'primary_energy_consumption',
       'energy_per_capita', 'energy_per_gdp', 'population', 'gdp'],
      dtype='object')

#### Filter out data to two main focus areas

#### Great Recession: 2007-2012
#### Pre-COVID: Review 2010-2019, Last Decade, Paris Agreement 2015

#### Great Recession: 2007-2012

In [17]:
# Create a Great Recession Dataframe
great_recession_df = emissions_df.loc[(emissions_df['year'] >= 2007) & (emissions_df['year'] <= 2012)]
great_recession_df

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,share_global_cumulative_coal_co2,share_global_cumulative_oil_co2,share_global_cumulative_gas_co2,share_global_cumulative_flaring_co2,share_global_cumulative_cement_co2,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
58,AFG,Afghanistan,2007,2.269,38.721,0.633,NaN,NaN,NaN,0.084,...,0.002,0.010,0.01,0.047,0.008,NaN,NaN,NaN,27101000.0,3.962899e+10
59,AFG,Afghanistan,2008,4.200,85.115,1.931,NaN,NaN,NaN,0.151,...,0.002,0.010,0.01,0.046,0.008,NaN,NaN,NaN,27722000.0,4.056158e+10
60,AFG,Afghanistan,2009,6.740,60.494,2.540,NaN,NaN,NaN,0.237,...,0.003,0.011,0.01,0.045,0.008,NaN,NaN,NaN,28395000.0,4.753980e+10
61,AFG,Afghanistan,2010,8.398,24.597,1.658,NaN,NaN,NaN,0.288,...,0.003,0.012,0.01,0.044,0.007,NaN,NaN,NaN,29186000.0,4.906888e+10
62,AFG,Afghanistan,2011,12.106,44.155,3.708,NaN,NaN,NaN,0.402,...,0.003,0.013,0.01,0.042,0.007,NaN,NaN,NaN,30117000.0,5.332634e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23696,ZWE,Zimbabwe,2008,7.719,-21.508,-2.115,9.293,1.574,20.389,0.623,...,0.087,0.024,NaN,NaN,0.055,95.216,7691.091,6.658,12380000.0,1.430100e+10
23697,ZWE,Zimbabwe,2009,5.476,-29.058,-2.243,8.066,2.590,47.294,0.437,...,0.086,0.024,NaN,NaN,0.054,96.386,7694.253,6.366,12527000.0,1.514130e+10
23698,ZWE,Zimbabwe,2010,7.864,43.615,2.388,9.350,1.485,18.887,0.619,...,0.085,0.024,NaN,NaN,0.053,99.165,7809.533,5.972,12698000.0,1.660410e+10
23699,ZWE,Zimbabwe,2011,9.480,20.550,1.616,10.608,1.128,11.894,0.735,...,0.084,0.024,NaN,NaN,0.052,106.857,8287.342,5.837,12894000.0,1.830726e+10
23700,ZWE,Zimbabwe,2012,7.659,-19.213,-1.821,10.596,2.937,38.344,0.584,...,0.083,0.024,NaN,NaN,0.051,112.083,8546.150,5.472,13115000.0,2.048226e+10

In [18]:
great_recession_df.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_growth_prct',
       'co2_growth_abs', 'consumption_co2', 'trade_co2', 'trade_co2_share',
       'co2_per_capita', 'consumption_co2_per_capita', 'share_global_co2',
       'cumulative_co2', 'share_global_cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'co2_per_unit_energy', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'primary_energy_consumption',
       'energy_per_capita', 'energy_per_gdp', 'population', 'gdp'],
      dtype='object')

In [19]:
# drop columns
great_recession_df=great_recession_df.drop(columns=['co2_growth_abs','consumption_co2_per_gdp', 'co2_per_unit_energy', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'primary_energy_consumption','energy_per_capita', 'energy_per_gdp','cumulative_co2','trade_co2','trade_co2_share','share_global_cumulative_co2'])

In [ ]:
# # drop empty values
# great_recession_df = great_recession_df.dropna()
# print(great_recession_df.shape)

In [20]:
great_recession_df.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_growth_prct',
       'consumption_co2', 'co2_per_capita', 'consumption_co2_per_capita',
       'share_global_co2', 'co2_per_gdp', 'population', 'gdp'],
      dtype='object')

In [21]:
#re-order columns
great_recession_df = great_recession_df[['iso_code', 'country', 'population','year','co2','co2_per_capita','co2_per_gdp','co2_growth_prct',
       'consumption_co2',  'consumption_co2_per_capita',
       'share_global_co2']]

In [22]:
great_recession_df.tail()

,iso_code,country,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
23696,ZWE,Zimbabwe,12380000.0,2008,7.719,0.623,0.540,-21.508,9.293,0.751,0.024
23697,ZWE,Zimbabwe,12527000.0,2009,5.476,0.437,0.362,-29.058,8.066,0.644,0.017
23698,ZWE,Zimbabwe,12698000.0,2010,7.864,0.619,0.474,43.615,9.350,0.736,0.024
23699,ZWE,Zimbabwe,12894000.0,2011,9.480,0.735,0.518,20.550,10.608,0.823,0.028
23700,ZWE,Zimbabwe,13115000.0,2012,7.659,0.584,0.374,-19.213,10.596,0.808,0.022

In [24]:
# export to csv file
file_path="../../resources/data/great_recession.csv"
great_recession_df.to_csv(file_path, index=False)

In [25]:
file_path ="../../resources/data/great_recession_noindex.csv"
great_recession_df.to_csv(file_path, index=False)

In [28]:
#with index
file_path ="../../resources/data/great_recession_index.csv"
great_recession_df.to_csv(file_path,index_label='record_no', index=True)

#### Pre-COVID: Review 2010-2019

In [21]:
# filter for the last ten years PRE-COVID
pre_covid_df = emissions_df.loc[(emissions_df['year'] >= 2010) & (emissions_df['year'] <= 2019)]

In [22]:
pre_covid_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,share_global_cumulative_coal_co2,share_global_cumulative_oil_co2,share_global_cumulative_gas_co2,share_global_cumulative_flaring_co2,share_global_cumulative_cement_co2,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
61,AFG,Afghanistan,2010,8.398,24.597,1.658,NaN,NaN,NaN,0.288,...,0.003,0.012,0.010,0.044,0.007,NaN,NaN,NaN,29186000.0,4.906888e+10
62,AFG,Afghanistan,2011,12.106,44.155,3.708,NaN,NaN,NaN,0.402,...,0.003,0.013,0.010,0.042,0.007,NaN,NaN,NaN,30117000.0,5.332634e+10
63,AFG,Afghanistan,2012,10.219,-15.590,-1.887,NaN,NaN,NaN,0.328,...,0.004,0.014,0.009,0.041,0.007,NaN,NaN,NaN,31161000.0,5.916690e+10
64,AFG,Afghanistan,2013,8.441,-17.397,-1.778,NaN,NaN,NaN,0.262,...,0.004,0.015,0.009,0.040,0.007,NaN,NaN,NaN,32270000.0,6.299370e+10
65,AFG,Afghanistan,2014,7.774,-7.895,-0.666,NaN,NaN,NaN,0.233,...,0.005,0.015,0.009,0.039,0.006,NaN,NaN,NaN,33371000.0,6.434611e+10

In [23]:
# drop columns
pre_covid_df = pre_covid_df.drop(columns=['co2_growth_abs','consumption_co2_per_gdp', 'co2_per_unit_energy', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'primary_energy_consumption','energy_per_capita', 'energy_per_gdp','cumulative_co2','trade_co2','trade_co2_share','share_global_cumulative_co2'])

In [ ]:
# drop empty rows
# pre_covid_df=pre_covid_df.dropna()
# pre_covid_df.shape

In [24]:
#re-order columns

pre_covid_df = pre_covid_df[['iso_code', 'country', 'population','year','co2','co2_per_capita','co2_per_gdp','co2_growth_prct',
       'consumption_co2',  'consumption_co2_per_capita',
       'share_global_co2']]
pre_covid_df.columns

Index(['iso_code', 'country', 'population', 'year', 'co2', 'co2_per_capita',
       'co2_per_gdp', 'co2_growth_prct', 'consumption_co2',
       'consumption_co2_per_capita', 'share_global_co2'],
      dtype='object')

In [ ]:
# write to dataframe cleaned data to csv
file_path="../resources/data/pre_covid.csv"
pre_covid_df.to_csv(file_path, index=False)