#### Analysis Based on C02 Emissions Type

Notes:

* Backdrop: Great Recession 20077-2012

* CO2 Emission per million t

* t= tonne

DataSource: Our World In Data, (ourworldindata.org)

GitHub:https://github.com/owid/co2-data

    *Guidebook: https://github.com/owid/co2-data/blob/master/owid-co2-codebook.csv

In [2]:
# import libraries
import pandas as  pd
import matplotlib.pyplot as plt
import os

In [3]:
# Load OurWorld in Data --dataset
source='https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv'
ow_data_df = pd.read_csv(source)
ow_data_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [10]:
# check for shape of dataframe, original dataset
ow_data_df.shape

(23708, 55)

In [16]:
#check for data 2020-2021
ow_data_df.loc[(ow_data_df['year']== 2020 & 2021)]

Empty DataFrame
Columns: [iso_code, country, year, co2, co2_growth_prct, co2_growth_abs, consumption_co2, trade_co2, trade_co2_share, co2_per_capita, consumption_co2_per_capita, share_global_co2, cumulative_co2, share_global_cumulative_co2, co2_per_gdp, consumption_co2_per_gdp, co2_per_unit_energy, cement_co2, coal_co2, flaring_co2, gas_co2, oil_co2, other_industry_co2, cement_co2_per_capita, coal_co2_per_capita, flaring_co2_per_capita, gas_co2_per_capita, oil_co2_per_capita, other_co2_per_capita, share_global_coal_co2, share_global_oil_co2, share_global_gas_co2, share_global_flaring_co2, share_global_cement_co2, cumulative_coal_co2, cumulative_oil_co2, cumulative_gas_co2, cumulative_flaring_co2, cumulative_cement_co2, share_global_cumulative_coal_co2, share_global_cumulative_oil_co2, share_global_cumulative_gas_co2, share_global_cumulative_flaring_co2, share_global_cumulative_cement_co2, total_ghg, ghg_per_capita, methane, methane_per_capita, nitrous_oxide, nitrous_oxide_per_capita, primary_energy_consumption, energy_per_capita, energy_per_gdp, population, gdp]
Index: []

[0 rows x 55 columns]

In [14]:
#find the earliest year
# ow_data_df.sort_values(['year'])

#find latest year
ow_data_df.sort_values(['year'], ascending= False)

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
23707,ZWE,Zimbabwe,2019,10.374,-8.521,-0.966,NaN,NaN,NaN,0.708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14645000.0,NaN
16360,PAK,Pakistan,2019,248.844,0.573,1.419,NaN,NaN,NaN,1.149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,216564992.0,NaN
6771,GNQ,Equatorial Guinea,2019,5.634,-4.606,-0.272,NaN,NaN,NaN,4.155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1356000.0,NaN
16417,PSE,Palestine,2019,3.303,2.590,0.083,NaN,NaN,NaN,0.663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4981000.0,NaN
12003,LAO,Laos,2019,32.815,1.712,0.552,NaN,NaN,NaN,4.577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7169000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6150,NaN,EU-28,1750,9.351,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23181,OWID_WRL,World,1750,9.351,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,811562112.0,NaN
7141,NaN,Europe,1750,9.351,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155942992.0,NaN
22099,GBR,United Kingdom,1750,9.351,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7411,NaN,Europe (excl. EU-27),1750,9.351,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#drop continent/geographic regions from country column