#### Analysis Based on C02 Emissions Type

Notes:

* Backdrop: Great Recession 20077-2012

* CO2 Emission per million t

* t= tonne

DataSource: Our World In Data, (ourworldindata.org)

GitHub:https://github.com/owid/co2-data

    *Guidebook: https://github.com/owid/co2-data/blob/master/owid-co2-codebook.csv
    
Objectives:

Two Final Datasets, Co2 by Type, by Country, CO2 Emissions by Type and Geographic Region

In [1]:
# import libraries
import pandas as  pd
import matplotlib.pyplot as plt
import os

In [2]:
# Load OurWorld in Data --dataset
source='https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv'
ow_data_df = pd.read_csv(source)
ow_data_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [3]:
# check for shape of dataframe, original dataset
ow_data_df.shape

(23708, 55)

In [4]:
#check for data 2020-2021
ow_data_df.loc[(ow_data_df['year']== 2020 & 2021)]

Empty DataFrame
Columns: [iso_code, country, year, co2, co2_growth_prct, co2_growth_abs, consumption_co2, trade_co2, trade_co2_share, co2_per_capita, consumption_co2_per_capita, share_global_co2, cumulative_co2, share_global_cumulative_co2, co2_per_gdp, consumption_co2_per_gdp, co2_per_unit_energy, cement_co2, coal_co2, flaring_co2, gas_co2, oil_co2, other_industry_co2, cement_co2_per_capita, coal_co2_per_capita, flaring_co2_per_capita, gas_co2_per_capita, oil_co2_per_capita, other_co2_per_capita, share_global_coal_co2, share_global_oil_co2, share_global_gas_co2, share_global_flaring_co2, share_global_cement_co2, cumulative_coal_co2, cumulative_oil_co2, cumulative_gas_co2, cumulative_flaring_co2, cumulative_cement_co2, share_global_cumulative_coal_co2, share_global_cumulative_oil_co2, share_global_cumulative_gas_co2, share_global_cumulative_flaring_co2, share_global_cumulative_cement_co2, total_ghg, ghg_per_capita, methane, methane_per_capita, nitrous_oxide, nitrous_oxide_per_capita, primary_energy_consumption, energy_per_capita, energy_per_gdp, population, gdp]
Index: []

[0 rows x 55 columns]

In [5]:
#find the earliest year
# ow_data_df.sort_values(['year'])

#find latest year
ow_data_df.sort_values(['year'], ascending= False)

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
23707,ZWE,Zimbabwe,2019,10.374,-8.521,-0.966,NaN,NaN,NaN,0.708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14645000.0,NaN
16360,PAK,Pakistan,2019,248.844,0.573,1.419,NaN,NaN,NaN,1.149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,216564992.0,NaN
6771,GNQ,Equatorial Guinea,2019,5.634,-4.606,-0.272,NaN,NaN,NaN,4.155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1356000.0,NaN
16417,PSE,Palestine,2019,3.303,2.590,0.083,NaN,NaN,NaN,0.663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4981000.0,NaN
12003,LAO,Laos,2019,32.815,1.712,0.552,NaN,NaN,NaN,4.577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7169000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6150,NaN,EU-28,1750,9.351,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23181,OWID_WRL,World,1750,9.351,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,811562112.0,NaN
7141,NaN,Europe,1750,9.351,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155942992.0,NaN
22099,GBR,United Kingdom,1750,9.351,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7411,NaN,Europe (excl. EU-27),1750,9.351,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#create a copy of dataframe for wrangling
# copy original dataframe
emissions_df = ow_data_df.copy()
emissions_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [7]:
#check data typees
emissions_df.dtypes

iso_code                                object
country                                 object
year                                     int64
co2                                    float64
co2_growth_prct                        float64
co2_growth_abs                         float64
consumption_co2                        float64
trade_co2                              float64
trade_co2_share                        float64
co2_per_capita                         float64
consumption_co2_per_capita             float64
share_global_co2                       float64
cumulative_co2                         float64
share_global_cumulative_co2            float64
co2_per_gdp                            float64
consumption_co2_per_gdp                float64
co2_per_unit_energy                    float64
cement_co2                             float64
coal_co2                               float64
flaring_co2                            float64
gas_co2                                float64
oil_co2                                float64
other_industry_co2                     float64
cement_co2_per_capita                  float64
coal_co2_per_capita                    float64
flaring_co2_per_capita                 float64
gas_co2_per_capita                     float64
oil_co2_per_capita                     float64
other_co2_per_capita                   float64
share_global_coal_co2                  float64
share_global_oil_co2                   float64
share_global_gas_co2                   float64
share_global_flaring_co2               float64
share_global_cement_co2                float64
cumulative_coal_co2                    float64
cumulative_oil_co2                     float64
cumulative_gas_co2                     float64
cumulative_flaring_co2                 float64
cumulative_cement_co2                  float64
share_global_cumulative_coal_co2       float64
share_global_cumulative_oil_co2        float64
share_global_cumulative_gas_co2        float64
share_global_cumulative_flaring_co2    float64
share_global_cumulative_cement_co2     float64
total_ghg                              float64
ghg_per_capita                         float64
methane                                float64
methane_per_capita                     float64
nitrous_oxide                          float64
nitrous_oxide_per_capita               float64
primary_energy_consumption             float64
energy_per_capita                      float64
energy_per_gdp                         float64
population                             float64
gdp                                    float64
dtype: object

In [8]:
# Covert population column to int
# emission_df['population'] = emiss_df['population'].astype(int)

In [9]:
#check columns
emissions_df.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_growth_prct',
       'co2_growth_abs', 'consumption_co2', 'trade_co2', 'trade_co2_share',
       'co2_per_capita', 'consumption_co2_per_capita', 'share_global_co2',
       'cumulative_co2', 'share_global_cumulative_co2', 'co2_per_gdp',
       'consumption_co2_per_gdp', 'co2_per_unit_energy', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'share_global_coal_co2', 'share_global_oil_co2',
       'share_global_gas_co2', 'share_global_flaring_co2',
       'share_global_cement_co2', 'cumulative_coal_co2', 'cumulative_oil_co2',
       'cumulative_gas_co2', 'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'total_ghg', 'ghg_per_capita',
       'methane', 'methane_per_capita', 'nitrous_oxide',
       'nitrous_oxide_per_capita', 'primary_energy_consumption',
       'energy_per_capita', 'energy_per_gdp', 'population', 'gdp'],
      dtype='object')

In [10]:
#create new dataframe with CO2 by type Emissions
co_type_df=emissions_df[['iso_code', 'country', 'year','population', 'co2','co2_per_capita','consumption_co2','consumption_co2_per_capita', 'trade_co2', 'cement_co2',
       'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita']]

In [11]:
# check new dataframe
co_type_df

,iso_code,country,year,population,co2,co2_per_capita,consumption_co2,consumption_co2_per_capita,trade_co2,cement_co2,...,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita
0,AFG,Afghanistan,1949,7663783.0,0.015,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.002,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,7752000.0,0.084,0.011,NaN,NaN,NaN,NaN,...,NaN,NaN,0.063,NaN,NaN,0.003,NaN,NaN,0.008,NaN
2,AFG,Afghanistan,1951,7840000.0,0.092,0.012,NaN,NaN,NaN,NaN,...,NaN,NaN,0.066,NaN,NaN,0.003,NaN,NaN,0.008,NaN
3,AFG,Afghanistan,1952,7936000.0,0.092,0.012,NaN,NaN,NaN,NaN,...,NaN,NaN,0.060,NaN,NaN,0.004,NaN,NaN,0.008,NaN
4,AFG,Afghanistan,1953,8040000.0,0.106,0.013,NaN,NaN,NaN,NaN,...,NaN,NaN,0.068,NaN,NaN,0.005,NaN,NaN,0.008,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,ZWE,Zimbabwe,2015,13815000.0,12.170,0.881,13.308,0.963,1.138,0.504,...,NaN,NaN,3.631,NaN,0.037,0.582,NaN,NaN,0.263,NaN
23704,ZWE,Zimbabwe,2016,14030000.0,10.815,0.771,12.171,0.868,1.356,0.581,...,NaN,NaN,3.173,NaN,0.041,0.503,NaN,NaN,0.226,NaN
23705,ZWE,Zimbabwe,2017,14237000.0,10.247,0.720,11.774,0.827,1.527,0.581,...,NaN,NaN,3.283,NaN,0.041,0.448,NaN,NaN,0.231,NaN
23706,ZWE,Zimbabwe,2018,14439000.0,11.341,0.785,12.815,0.888,1.475,0.581,...,NaN,NaN,3.390,NaN,0.040,0.510,NaN,NaN,0.235,NaN
23707,ZWE,Zimbabwe,2019,14645000.0,10.374,0.708,NaN,NaN,NaN,0.581,...,NaN,NaN,3.489,NaN,0.040,0.430,NaN,NaN,0.238,NaN

In [12]:
#filter dataframe to "capture" the years bewtween 2007-2012
co_type_df = co_type_df.loc[(co_type_df['year']>= 2007) & (co_type_df['year'] <= 2012)]

In [13]:
#check dataframe
co_type_df

,iso_code,country,year,population,co2,co2_per_capita,consumption_co2,consumption_co2_per_capita,trade_co2,cement_co2,...,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita
58,AFG,Afghanistan,2007,27101000.0,2.269,0.084,NaN,NaN,NaN,0.012,...,NaN,0.308,1.200,NaN,0.000,0.028,NaN,0.011,0.044,NaN
59,AFG,Afghanistan,2008,27722000.0,4.200,0.151,NaN,NaN,NaN,0.015,...,NaN,0.297,2.810,NaN,0.001,0.039,NaN,0.011,0.101,NaN
60,AFG,Afghanistan,2009,28395000.0,6.740,0.237,NaN,NaN,NaN,0.013,...,NaN,0.271,4.943,NaN,0.000,0.053,NaN,0.010,0.174,NaN
61,AFG,Afghanistan,2010,29186000.0,8.398,0.288,NaN,NaN,NaN,0.015,...,NaN,0.271,5.866,NaN,0.000,0.077,NaN,0.009,0.201,NaN
62,AFG,Afghanistan,2011,30117000.0,12.106,0.402,NaN,NaN,NaN,0.015,...,NaN,0.308,7.603,NaN,0.000,0.139,NaN,0.010,0.252,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23696,ZWE,Zimbabwe,2008,12380000.0,7.719,0.623,9.293,0.751,1.574,0.153,...,NaN,NaN,1.608,NaN,0.012,0.481,NaN,NaN,0.130,NaN
23697,ZWE,Zimbabwe,2009,12527000.0,5.476,0.437,8.066,0.644,2.590,0.269,...,NaN,NaN,1.648,NaN,0.021,0.284,NaN,NaN,0.132,NaN
23698,ZWE,Zimbabwe,2010,12698000.0,7.864,0.619,9.350,0.736,1.485,0.309,...,NaN,NaN,1.948,NaN,0.024,0.442,NaN,NaN,0.153,NaN
23699,ZWE,Zimbabwe,2011,12894000.0,9.480,0.735,10.608,0.823,1.128,0.382,...,NaN,NaN,3.267,NaN,0.030,0.452,NaN,NaN,0.253,NaN
23700,ZWE,Zimbabwe,2012,13115000.0,7.659,0.584,10.596,0.808,2.937,0.565,...,NaN,NaN,3.703,NaN,0.043,0.259,NaN,NaN,0.282,NaN

In [14]:
# create regions for central america and the carribean, then append end to co_type_df

## filter for Carribean Countries
carb=['British Virgin Islands', 'Anguilla', 'Antigua and Barbuda', 'Aruba',  'Bahamas', 'Barbados', 'Bermuda', 'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica', 'Martinique', 'Montserrat', 'Netherlands Antilles', 'Puerto Rico', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'Turks and Caicos Islands', 'U.S. Virgin Islands']
caribbean_df=co_type_df[co_type_df.country.isin(carb)]

In [15]:
caribbean_df.columns

Index(['iso_code', 'country', 'year', 'population', 'co2', 'co2_per_capita',
       'consumption_co2', 'consumption_co2_per_capita', 'trade_co2',
       'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2',
       'other_industry_co2', 'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita'],
      dtype='object')

In [16]:
# add the sum of c02 and co2_per_capita, groupby year, create new dataframe
car_df=caribbean_df.groupby('year').sum()[['population', 'co2', 'co2_per_capita',
       'consumption_co2', 'consumption_co2_per_capita', 'trade_co2',
       'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2',
       'other_industry_co2', 'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita']]
car_df

,population,co2,co2_per_capita,consumption_co2,consumption_co2_per_capita,trade_co2,cement_co2,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita
year,,,,,,,,,,,,,,,,,,
2007,35602000.0,112.905,143.249,57.976,22.770,-17.959,3.265,2.103,0.000,43.287,64.251,0.0,1.165,0.259,0.000,30.957,110.869,0.0
2008,35891000.0,114.638,142.678,59.447,22.934,-15.696,3.293,2.334,0.004,41.887,67.122,0.0,1.157,0.288,0.013,29.865,111.356,0.0
2009,36187000.0,110.816,137.193,61.695,27.905,-10.272,3.126,2.291,0.004,42.331,63.067,0.0,1.028,0.281,0.013,30.007,105.862,0.0
2010,36487000.0,120.474,145.328,62.583,27.337,-12.627,3.114,2.045,0.004,45.591,69.720,0.0,0.944,0.248,0.013,32.073,112.049,0.0
2011,36802000.0,115.951,133.484,60.018,24.250,-16.236,3.008,2.742,0.004,45.119,65.078,0.0,0.923,0.342,0.013,31.487,100.717,0.0
2012,37127000.0,114.026,120.651,61.234,24.356,-13.729,3.014,2.199,0.004,44.592,64.219,0.0,0.811,0.279,0.013,30.675,88.872,0.0

In [17]:
#add new columns
#add country/region to Carribean
#pd.Dataframe[new_column] = value 
car_df['country'] = "Caribbean"
car_df['iso_code']=" "

In [18]:
#convert index to column
car_df.reset_index(inplace=True)

In [19]:
#check columns
car_df.columns

Index(['year', 'population', 'co2', 'co2_per_capita', 'consumption_co2',
       'consumption_co2_per_capita', 'trade_co2', 'cement_co2', 'coal_co2',
       'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'country', 'iso_code'],
      dtype='object')

In [20]:
#reorder columns
car_df=car_df[['iso_code', 'country', 'year', 'population', 'co2', 
       'consumption_co2',  'trade_co2',
       'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2','other_industry_co2', 'co2_per_capita',
               'consumption_co2_per_capita',
       'other_industry_co2', 'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita']]

In [21]:
#check_dataframe
car_df

,iso_code,country,year,population,co2,consumption_co2,trade_co2,cement_co2,coal_co2,flaring_co2,...,other_industry_co2,co2_per_capita,consumption_co2_per_capita,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita
0,,Caribbean,2007,35602000.0,112.905,57.976,-17.959,3.265,2.103,0.000,...,0.0,143.249,22.770,0.0,1.165,0.259,0.000,30.957,110.869,0.0
1,,Caribbean,2008,35891000.0,114.638,59.447,-15.696,3.293,2.334,0.004,...,0.0,142.678,22.934,0.0,1.157,0.288,0.013,29.865,111.356,0.0
2,,Caribbean,2009,36187000.0,110.816,61.695,-10.272,3.126,2.291,0.004,...,0.0,137.193,27.905,0.0,1.028,0.281,0.013,30.007,105.862,0.0
3,,Caribbean,2010,36487000.0,120.474,62.583,-12.627,3.114,2.045,0.004,...,0.0,145.328,27.337,0.0,0.944,0.248,0.013,32.073,112.049,0.0
4,,Caribbean,2011,36802000.0,115.951,60.018,-16.236,3.008,2.742,0.004,...,0.0,133.484,24.250,0.0,0.923,0.342,0.013,31.487,100.717,0.0
5,,Caribbean,2012,37127000.0,114.026,61.234,-13.729,3.014,2.199,0.004,...,0.0,120.651,24.356,0.0,0.811,0.279,0.013,30.675,88.872,0.0

In [22]:
#create a dataframe for countries in Central America
#filter for Central American Countries
ca=['Belize', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama']
central_america_df=co_type_df[co_type_df.country.isin(ca)]

In [23]:
#check dataframe
central_america_df

,iso_code,country,year,population,co2,co2_per_capita,consumption_co2,consumption_co2_per_capita,trade_co2,cement_co2,...,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita
2701,BLZ,Belize,2007,299000.0,0.476,1.593,NaN,NaN,NaN,NaN,...,NaN,NaN,0.476,NaN,NaN,NaN,NaN,NaN,1.593,NaN
2702,BLZ,Belize,2008,307000.0,0.436,1.420,NaN,NaN,NaN,NaN,...,NaN,NaN,0.436,NaN,NaN,NaN,NaN,NaN,1.420,NaN
2703,BLZ,Belize,2009,315000.0,0.517,1.640,NaN,NaN,NaN,NaN,...,NaN,NaN,0.517,NaN,NaN,NaN,NaN,NaN,1.640,NaN
2704,BLZ,Belize,2010,322000.0,0.539,1.673,NaN,NaN,NaN,NaN,...,NaN,0.011,0.528,NaN,NaN,NaN,NaN,0.034,1.638,NaN
2705,BLZ,Belize,2011,330000.0,0.557,1.688,NaN,NaN,NaN,NaN,...,NaN,0.011,0.546,NaN,NaN,NaN,NaN,0.033,1.655,NaN
2706,BLZ,Belize,2012,338000.0,0.451,1.333,NaN,NaN,NaN,NaN,...,NaN,0.007,0.443,NaN,NaN,NaN,NaN,0.022,1.312,NaN
4949,CRI,Costa Rica,2007,4405000.0,7.961,1.807,13.035,2.959,5.073,0.923,...,NaN,NaN,6.980,NaN,0.209,0.013,NaN,NaN,1.585,NaN
4950,CRI,Costa Rica,2008,4463000.0,7.991,1.791,13.339,2.989,5.348,0.835,...,NaN,NaN,7.152,NaN,0.187,0.001,NaN,NaN,1.603,NaN
4951,CRI,Costa Rica,2009,4521000.0,7.749,1.714,11.354,2.511,3.605,0.831,...,NaN,NaN,6.907,NaN,0.184,0.002,NaN,NaN,1.528,NaN
4952,CRI,Costa Rica,2010,4577000.0,7.494,1.637,12.374,2.704,4.880,0.503,...,NaN,NaN,6.987,NaN,0.110,0.001,NaN,NaN,1.527,NaN
4953,CRI,Costa Rica,2011,4633000.0,7.309,1.578,13.556,2.926,6.246,0.546,...,NaN,NaN,6.738,NaN,0.118,0.006,NaN,NaN,1.454,NaN
4954,CRI,Costa Rica,2012,4688000.0,7.259,1.548,13.942,2.974,6.684,0.543,...,NaN,NaN,6.705,NaN,0.116,0.002,NaN,NaN,1.430,NaN
6689,SLV,El Salvador,2007,6106000.0,6.846,1.121,9.444,1.547,2.598,0.522,...,NaN,NaN,6.324,NaN,0.085,NaN,NaN,NaN,1.036,NaN
6690,SLV,El Salvador,2008,6132000.0,6.405,1.045,9.346,1.524,2.941,0.517,...,NaN,NaN,5.888,NaN,0.084,NaN,NaN,NaN,0.960,NaN
6691,SLV,El Salvador,2009,6158000.0,6.313,1.025,8.182,1.329,1.870,0.480,...,NaN,NaN,5.833,NaN,0.078,NaN,NaN,NaN,0.947,NaN
6692,SLV,El Salvador,2010,6184000.0,6.317,1.022,8.448,1.366,2.130,0.506,...,NaN,NaN,5.811,NaN,0.082,NaN,NaN,NaN,0.940,NaN
6693,SLV,El Salvador,2011,6211000.0,6.500,1.047,9.135,1.471,2.634,0.517,...,NaN,NaN,5.983,NaN,0.083,NaN,NaN,NaN,0.963,NaN
6694,SLV,El Salvador,2012,6238000.0,6.469,1.037,8.754,1.403,2.285,0.537,...,NaN,NaN,5.932,NaN,0.086,NaN,NaN,NaN,0.951,NaN
9431,GTM,Guatemala,2007,13700000.0,12.145,0.886,16.613,1.213,4.468,1.002,...,NaN,NaN,9.956,NaN,0.073,0.087,NaN,NaN,0.727,NaN
9432,GTM,Guatemala,2008,14006000.0,10.893,0.778,15.991,1.142,5.098,0.993,...,NaN,NaN,8.717,NaN,0.071,0.084,NaN,NaN,0.622,NaN
9433,GTM,Guatemala,2009,14316000.0,11.442,0.799,15.243,1.065,3.801,0.593,...,NaN,NaN,10.080,NaN,0.041,0.054,NaN,NaN,0.704,NaN
9434,GTM,Guatemala,2010,14630000.0,11.098,0.759,15.780,1.079,4.682,1.099,...,NaN,NaN,8.713,NaN,0.075,0.088,NaN,NaN,0.596,NaN
9435,GTM,Guatemala,2011,14949000.0,11.238,0.752,17.270,1.155,6.031,1.115,...,NaN,NaN,8.834,NaN,0.075,0.086,NaN,NaN,0.591,NaN
9436,GTM,Guatemala,2012,15271000.0,11.559,0.757,17.827,1.167,6.268,1.120,...,NaN,NaN,8.926,NaN,0.073,0.099,NaN,NaN,0.584,NaN
9773,HND,Honduras,2007,7809000.0,8.598,1.101,10.887,1.394,2.289,0.713,...,NaN,NaN,7.559,NaN,0.091,0.042,NaN,NaN,0.968,NaN
9774,HND,Honduras,2008,7981000.0,8.518,1.067,10.813,1.355,2.295,0.710,...,NaN,NaN,7.361,NaN,0.089,0.056,NaN,NaN,0.922,NaN
9775,HND,Honduras,2009,8151000.0,8.073,0.990,9.968,1.223,1.895,0.712,...,NaN,NaN,6.819,NaN,0.087,0.067,NaN,NaN,0.837,NaN
9776,HND,Honduras,2010,8317000.0,7.959,0.957,10.258,1.233,2.300,0.630,...,NaN,NaN,6.772,NaN,0.076,0.067,NaN,NaN,0.814,NaN
9777,HND,Honduras,2011,8481000.0,8.635,1.018,10.229,1.206,1.594,0.632,...,NaN,NaN,7.339,NaN,0.075,0.078,NaN,NaN,0.865,NaN
9778,HND,Honduras,2012,8641000.0,8.989,1.040,12.037,1.393,3.049,0.671,...,NaN,NaN,7.610,NaN,0.078,0.082,NaN,NaN,0.881,NaN
14933,NIC,Nicaragua,2007,5590000.0,4.550,0.814,6.010,1.075,1.459,0.212,...,NaN,NaN,4.338,NaN,0.038,NaN,NaN,NaN,0.776,NaN
14934,NIC,Nicaragua,2008,5667000.0,4.365,0.770,5.615,0.991,1.249,0.210,...,NaN,NaN,4.155,NaN,0.037,NaN,NaN,NaN,0.733,NaN
14935,NIC,Nicaragua,2009,5746000.0,4.445,0.774,5.543,0.965,1.098,0.209,...,NaN,NaN,4.236,NaN,0.036,NaN,NaN,NaN,0.737,NaN
14936,NIC,Nicaragua,2010,5824000.0,4.469,0.767,5.910,1.015,1.441,0.237,...,NaN,NaN,4.232,NaN,0.041,NaN,NaN,NaN,0.727,NaN
14937,NIC,Nicaragua,2011,5903000.0,4.805,0.814,6.212,1.052,1.407,0.273,...,NaN,NaN,4.532,NaN,0.046,NaN,NaN,NaN,0.768,NaN
14938,NIC,Nicaragua,2012,5983000.0,4.545,0.760,6.380,1.066,1.834,0.240,...,NaN,NaN,4.305,NaN,0.040,NaN,NaN,NaN,0.720,NaN
16477,PAN,Panama,2007,3454000.0,7.196,2.083,0.905,0.262,-6.292,0.422,...,NaN,NaN,6.240,NaN,0.122,0.155,NaN,NaN,1.807,NaN
16478,PAN,Panama,2008,3516000.0,7.314,2.080,5.326,1.515,-1.988,0.733,...,NaN,NaN,6.507,NaN,0.208,0.021,NaN,NaN,1.851,NaN
16479,PAN,Panama,2009,3579000.0,8.419,2.352,17.476,4.883,9.056,0.663,...,NaN,NaN,7.606,NaN,0.185,0.042,NaN,NaN,2.125,NaN
16480,PAN,Panama,2010,3643000.0,9.073,2.490,25.028,6.870,15.955,0.587,...,NaN,NaN,8.486,NaN,0.161,NaN,NaN,NaN,2.329,NaN
16481,PAN,Panama,2011,3706000.0,9.952,2.685,14.846,4.006,4.894,0.689,...,NaN,NaN,8.633,NaN,0.186,0.170,NaN,NaN,2.329,NaN
16482,PAN,Panama,2012,3771000.0,9.768,2.590,27.292,7.237,17.524,0.897,...,NaN,NaN,8.013,NaN,0.238,0.227,NaN,NaN,2.125,NaN

In [24]:
# add the sum of c02 and co2_per_capita, groupby year, create new dataframe
cen_df=central_america_df.groupby('year').sum()[['population', 'co2', 'co2_per_capita',
       'consumption_co2', 'consumption_co2_per_capita', 'trade_co2',
       'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2',
       'other_industry_co2', 'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita']]
cen_df

,population,co2,co2_per_capita,consumption_co2,consumption_co2_per_capita,trade_co2,cement_co2,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita
year,,,,,,,,,,,,,,,,,,
2007,41363000.0,47.772,9.405,56.894,8.450,9.595,3.794,2.107,0.0,0.000,41.873,0.0,0.618,0.297,0.0,0.000,8.492,0.0
2008,42072000.0,45.922,8.951,60.430,9.516,14.943,3.998,1.707,0.0,0.000,40.216,0.0,0.676,0.162,0.0,0.000,8.111,0.0
2009,42786000.0,46.958,9.294,67.766,11.976,21.325,3.488,1.472,0.0,0.000,41.998,0.0,0.611,0.165,0.0,0.000,8.518,0.0
2010,43497000.0,46.949,9.305,77.798,14.267,31.388,3.562,1.847,0.0,0.011,41.529,0.0,0.545,0.156,0.0,0.034,8.571,0.0
2011,44213000.0,48.996,9.582,71.248,11.816,22.806,3.772,2.609,0.0,0.011,42.605,0.0,0.583,0.340,0.0,0.033,8.625,0.0
2012,44930000.0,49.040,9.065,86.232,15.240,37.644,4.008,3.088,0.0,0.007,41.934,0.0,0.631,0.410,0.0,0.022,8.003,0.0

In [25]:
#add new columns
#add country/region to Central America
#pd.Dataframe[new_column] = value 
cen_df['country'] = "Central America"
cen_df['iso_code']=" "

In [26]:
#convert index to column
cen_df.reset_index(inplace=True)

#check columns
cen_df.columns

Index(['year', 'population', 'co2', 'co2_per_capita', 'consumption_co2',
       'consumption_co2_per_capita', 'trade_co2', 'cement_co2', 'coal_co2',
       'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
       'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita', 'country', 'iso_code'],
      dtype='object')

In [27]:
#reorder columns
cen_df=cen_df[['iso_code', 'country', 'year', 'population', 'co2', 
       'consumption_co2',  'trade_co2',
       'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2','other_industry_co2', 'co2_per_capita',
               'consumption_co2_per_capita',
       'other_industry_co2', 'cement_co2_per_capita', 'coal_co2_per_capita',
       'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita',
       'other_co2_per_capita']]
cen_df.head()

,iso_code,country,year,population,co2,consumption_co2,trade_co2,cement_co2,coal_co2,flaring_co2,...,other_industry_co2,co2_per_capita,consumption_co2_per_capita,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita
0,,Central America,2007,41363000.0,47.772,56.894,9.595,3.794,2.107,0.0,...,0.0,9.405,8.450,0.0,0.618,0.297,0.0,0.000,8.492,0.0
1,,Central America,2008,42072000.0,45.922,60.430,14.943,3.998,1.707,0.0,...,0.0,8.951,9.516,0.0,0.676,0.162,0.0,0.000,8.111,0.0
2,,Central America,2009,42786000.0,46.958,67.766,21.325,3.488,1.472,0.0,...,0.0,9.294,11.976,0.0,0.611,0.165,0.0,0.000,8.518,0.0
3,,Central America,2010,43497000.0,46.949,77.798,31.388,3.562,1.847,0.0,...,0.0,9.305,14.267,0.0,0.545,0.156,0.0,0.034,8.571,0.0
4,,Central America,2011,44213000.0,48.996,71.248,22.806,3.772,2.609,0.0,...,0.0,9.582,11.816,0.0,0.583,0.340,0.0,0.033,8.625,0.0