#### Database Connection 

Datasets to connect:
* great_recession_dp
* pre_covid.csv
* co2_emissions_type.csv
* region_df.csv

Database: PostgreSQL
 * Create database
 * Create tables schema, primary key
 * Connect to database

In [1]:
# import dependencies
import pandas as  pd
import os

# import modules
from sqlalchemy import create_engine
import psycopg2


from config import cw_db_pasword

In [2]:
#load dataset 
#read in updated dataset
file_path ="../../resources/data/region_fp.csv"
# file_path ="../../resources/data/great_recession_index.csv
# file_dir=os.path.join("resources")
region_df = pd.read_csv(file_path)
region_df.head()

,record_no,iso_code,geo_reg,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
0,6,NaN,Africa,9.630220e+08,2007,1120.938,1.191,0.317,3.891,NaN,NaN,3.582
1,7,NaN,Africa,9.876240e+08,2008,1173.883,1.216,0.306,4.723,NaN,NaN,3.675
2,8,NaN,Africa,1.013046e+09,2009,1185.946,1.197,0.303,1.028,NaN,NaN,3.769
3,9,NaN,Africa,1.039304e+09,2010,1206.780,1.188,0.277,1.757,NaN,NaN,3.642
4,10,NaN,Africa,1.066410e+09,2011,1234.606,1.184,0.267,2.306,NaN,NaN,3.609

In [3]:
# create database engine
# "postgres://[user]:[password]@[location]:[port]/[database]"
#set variable string 
#127.0.0.1:53010
#127.0.0.1:5432
cw_db_connect = f"postgres://postgres:{cw_db_pasword}@127.0.0.1:5432/carbon_emission_world_events"

In [4]:
#create database engine set as variable 
engine = create_engine(cw_db_connect)

In [5]:
# pip install psycopg2-binary

In [6]:
# import data to database, without index
region_df.to_sql(name ='region', con = engine, index=False, if_exists='append')

In [15]:
#check connection 
# engine.execute( 'SELECT *FROM region').fetchall()

AttributeError: 'list' object has no attribute 'list'

In [16]:
print(engine.table_names())

['great_recession_data', 'pre_covid_data', 'region']

In [7]:
#double check if dataset was loaded to postgreSQL
#alter table make column "record_no" a primary key

# ALTER TABLE region ADD PRIMARY KEY (record_no);

#ALTER TABLE table_name
# ALTER COLUMN column_name1 [SET DATA] TYPE new_data_type,
# ALTER COLUMN column_name2 [SET DATA] TYPE new_data_type,
# ...;

In [20]:
check=pd.read_sql_table('region', engine)
check.columns.tolist()

['record_no',
 'iso_code',
 'geo_reg',
 'population',
 'year',
 'co2',
 'co2_per_capita',
 'co2_per_gdp',
 'co2_growth_prct',
 'consumption_co2',
 'consumption_co2_per_capita',
 'share_global_co2']

In [22]:
from sqlalchemy import inspect

In [24]:
db_inspect =inspect(engine)
db_inspect.get_table_names()

['great_recession_data', 'pre_covid_data', 'region']

In [26]:
#get columns:
cols = db_inspect.get_columns('region')
for c in cols:
    print(c)

{'name': 'record_no', 'type': BIGINT(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'iso_code', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'geo_reg', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'population', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'year', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'co2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'co2_per_capita', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'co2_per_gdp', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'co2_growth_prct', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'consumption_co2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'consumption_co2_per_capita', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'share_global_co2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}

In [27]:
c_names=db_inspect.get_columns('region')
for col_name in c_names:
    print(col_name["name"])

record_no
iso_code
geo_reg
population
year
co2
co2_per_capita
co2_per_gdp
co2_growth_prct
consumption_co2
consumption_co2_per_capita
share_global_co2